[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.7.5"
beautifulsoup4 = "==4.9.3"
certifi = "==2021.10.8"
changanya = "==0.5.0"
charset-normalizer = "==2.0.9"
click = "==8.0.3"
colorama = "==0.4.4"
dataclasses = "==0.8"
distlib = "==0.3.4"
filelock = "==3.4.1"
flask = "==1.1.2"
flask-migrate = "==2.5.3"
flask-script = "==2.0.6"
flask-sqlalchemy = "==2.5.1"
greenlet = "==1.1.2"
idna = "==3.3"
importlib-metadata = "==4.8.3"
importlib-resources = "==5.4.0"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
lxml = "==4.6.1"
mako = "==1.1.6"
markupsafe = "==2.0.1"
pipenv = "==2021.11.23"
platformdirs = "==2.4.0"
pymysql = "==0.10.1"
redis = "==3.5.3"
requests = "==2.26.0"
rq = "==1.5.2"
six = "==1.16.0"
soupsieve = "==2.3.1"
sqlalchemy = "==1.4.29"
termcolor = "==1.1.0"
typing-extensions = "==4.0.1"
urllib3 = "==1.26.7"
virtualenv = "==20.13.0"
virtualenv-clone = "==0.5.7"
werkzeug = "==2.0.2"
zipp = "==3.6.0"
python-dotenv = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.6"
