anyio==3.2.1
async-generator==1.10
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
contextvars==2.4
dataclasses==0.8
fake-useragent==0.1.11
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
h11==0.12.0
httpcore==0.13.6
idna==2.10
immutables==0.15
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
requests==2.25.1
rfc3986==1.5.0
sniffio==1.2.0
SQLAlchemy==1.4.19
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.4.1
celery==3.1.24
