* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFag SC", "Microsoft YeHei", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.container h1 {
  flex: 1;
  font-size: 62px;
  margin: 30px 0;
}
.container h4 .h-one {
  flex: 1.5;
  font-size: 26px;
  margin-bottom: 30px;
  position: relative;
  left: 80px;
}
.container h4 {
  font-size: 26px;
}
.container a {
  margin-top: 20px;
  flex: 4;
}
.container a img {
  width: 350px;
  height: 450px;
}
