* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
body {
  background-color: #f1f1f1;
  width: 100vw;
  height: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  width: 100vw;
  display: grid;
  padding: 0 40px;
  position: relative;
  align-items: center;
  z-index: 100;
  background-color: #f8f8ff;
}

header .container .top {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 100;
}

h1 {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 45px;
  display: inline-block;
}
h1 a {
  color: black;
}
.container,
.container .top {
  position: relative;
}
.container .top {
  width: 100vw;
}
.container hr {
  background-color: black;
  border-style: none;
  font-size: 2px;
  /* font-weight: 700; */
  height: 1px;
  margin-left: -40px;
  margin-top: -95px;
  z-index: 200;
}
.userCenter {
  clear: both;
}
.userCenter-list {
  display: block;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 100;
}
.userCenter-list li {
  float: left;
  display: block;
  margin: 0 20px;
}
.userCenter li a:hover {
  /* color: #5352ed; */
  color: #0fbcf9;
}
.navigation {
  width: 100%;
  clear: both;
  position: absolute;
  top: 55.7px;
  /* margin: 0 20px; */
  /* display: flex; */
  left: -40px;
  background-color: #f8f8ff;
  height: 50px;
  text-align: center;
}
.navList {
  /* flex: 5; */
  display: block;
  float: left;
  text-align: center;
  /* margin-left: 18px;
      position: absolute; */
}
.navList li {
  position: absolute;
  display: block;
  float: left;
  width: 100px;
  line-height: 50px;
}
.navList a {
  display: block;
  width: 100px;
  height: 33px;
}
.navList a,
.userCenter-list a {
  color: #696969;
}
.slider {
  width: 100px;
  height: 5px;
  /* background-color: #5352ed; */
  background-color: #0fbcf9;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: -140px;
  z-index: 1;
  transition: all ease, 0.4s;
}
.navList li:nth-child(1) {
  left: 30px;
}
.navList li:nth-child(2) {
  left: 130px;
}
.navList li:nth-child(3) {
  left: 230px;
}
.navList li:nth-child(4) {
  left: 330px;
}
.navList li:nth-child(5) {
  left: 430px;
}
.navList li:nth-child(6) {
  left: 530px;
}
.navList li:nth-child(7) {
  left: 630px;
}
.navList li:nth-child(8) {
  left: 730px;
}
.navList li a:hover {
  font-size: 19px;
  transition: 0.4s;
}
.navList li:nth-child(1):hover ~ .slider {
  left: 40px;
}
.navList li:nth-child(2):hover ~ .slider {
  left: 138px;
}
.navList li:nth-child(3):hover ~ .slider {
  left: 238px;
}
.navList li:nth-child(4):hover ~ .slider {
  left: 338px;
}
.navList li:nth-child(5):hover ~ .slider {
  left: 438px;
}
.navList li:nth-child(6):hover ~ .slider {
  left: 538px;
}
.navList li:nth-child(7):hover ~ .slider {
  left: 638px;
}
.navList li:nth-child(8):hover ~ .slider {
  left: 738px;
}
.navList li .one {
  color: #696969;
  z-index: 100;
}
.navigation .navList li a {
  display: block;
  width: 120px;
  height: 3px;
  z-index: 100;
  position: absolute;
}
.navigation ul li a:hover {
  color: #666666;
  cursor: pointer;
  /* z-index: 200; */
}
.navigation ul li::after {
  content: "";
  display: none;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 40px;
  z-index: 1;
  transition: all ease, 0.3s;
}

.navigation ul li a:focus::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}
/*新搜索框框*/
.search-box {
  position: absolute;
  top: 27px;
  right: 100px;
  transform: translate(20%, -50%);
  background: #d3d3d3;
  height: 30px;
  border-radius: 30px;
  padding: 3px;
  z-index: 1001;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
}
.search-box:hover {
  background: #f8f8ff;
  border: 2px #f1f1f1 solid;
}
.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
  margin: 4px;
  margin-right: 2px;
}

.search-box .search-btn {
  color: #0fbcf9;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d3d3d3;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
  /*与 “display:center” 搭配使用，居中对齐弹性盒的各项<div>元素*/
  z-index: 10008;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #696969;
  font-size: 14px;
  transition: 0.4s;
  line-height: 25px;
  width: 0px;
}
.title {
  width: 100vw;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  text-align: center;
  white-space: nowrap;
  color: #696969;
}
.context {
  position: absolute;
  top: 240px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 33%;
  float: left;
  margin-left: 20px;
  margin-bottom: 40px;
  /* top: 120px;
  width: 80%;
  height: 500px;
  margin-left: 60px; */
}
.partner {
  margin: 30px;
  background-color: #f8f8ff;
  /* height: 500px; */
  width: 300px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.intro1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: rgb(40, 46, 49); */
  background-color: #696969;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.partner:hover .intro1 {
  bottom: 0;
  height: 100%;
}
.partner:hover {
  cursor: pointer;
}
.intro1 p {
  /* white-space: nowrap; */
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.intro1 p {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.intro1 h1 {
  white-space: nowrap;
  color: white;
  font-size: 35px;
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 60%;
  transform: translate(50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.body-tail {
  position: absolute;
  top: 700px;
  width: 100vw;
  height: 45px;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
  border-top: 1px rgb(129, 129, 129) solid;
  background-color: rgb(238, 238, 238);
  color: #7a7a7a;
  font-size: 14px;
  z-index: 101;
}
