*{
    margin:0;
    padding:0;
}
.container-fluid{
    position:relative
}
.logo{
    z-index:1;
    position:absolute;
    margin-top:10;
    width: 50px;
}
body{
    background: #f3f3f3;
}
.main{
    background:#fff;
    width:730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}