* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
h1 img {
  width: 150px;
  height: 60px;
  margin-left: 20px;
  margin-top: 10px;
}
.uesrCenter-list {
  display: block;
  float: right;
  z-index: 100;
}
.uesrCenter-list > li {
  float: left;
  display: block;
}
