a {
  outline: none;
}
.navigation ul .one::after {
  content: "";
  display: none;
}
.navigation ul .three::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}
.contentwrapper {
  /* position: relative; */
  width: 96%;
  background-color: #f8f8ff;
  height: 1590px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  align-items: flex-start;
}
.pageNumber {
  position: relative;
  position: absolute;
  /* float: right; */
  right: 15px;
  left: 840px;
  top: 1540px;
}
.pageNumber ul {
  height: 100%;
  list-style-type: none;
}

.pageNumber ul li {
  line-height: 40px;
  float: left;
}
.pageNumber .pageBtn {
  border-radius: 4px;
  /* border: 1px solid #e5e9ef; */
  border: 1px solid #d3d3d3;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 8px;
  margin-top: 6px;
  outline: 0;
}
.pageNumber button a {
  width: 38px;
  height: 38px;
  font-size: 14px;
}
.pageNumber .pageBtn:hover {
  border: 1px solid #4f90fb;
  color: #4f90fb;
  cursor: pointer;
}

.pageNumber span.pages_span {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  position: relative;
  top: 10px;
}
