* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
body {
  background-color: #fff;
  width: 100vw;
  height: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  width: 100vw;
  display: grid;
  padding: 0 40px;
  position: relative;
  align-items: center;
  z-index: 100;
  background-color: #f8f8ff;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
}

header .container .top {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 100;
}

h1 {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 45px;
  display: inline-block;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
h1 a {
  color: #2e2e2e;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
.container,
.container .top {
  position: relative;
}
.container .top {
  width: 100vw;
}
.container hr {
  background-color: #8b8b8b;
  border-style: none;
  font-size: 2px;
  /* font-weight: 700; */
  height: 1px;
  margin-left: -40px;
  margin-top: -95px;
  z-index: 200;
}
.userCenter {
  clear: both;
}
.userCenter-list {
  display: block;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 100;
}
.userCenter-list li {
  float: left;
  display: block;
  margin: 0 20px;
}
.userCenter li a:hover {
  /* color: #5352ed; */
  color: #0fbcf9;
  /* color: #7342fa; */
}
.navigation {
  width: 100%;
  clear: both;
  position: absolute;
  top: 55.7px;
  /* margin: 0 20px; */
  /* display: flex; */
  left: -50px;
  background-color: #f8f8ff;
  height: 50px;
  text-align: center;
}
.navList {
  /* flex: 5; */
  display: block;
  float: left;
  text-align: center;
  /* margin-left: 18px;
      position: absolute; */
}
.navList li {
  position: absolute;
  display: block;
  float: left;
  width: 100px;
  line-height: 50px;
}
.navList a {
  display: block;
  width: 100px;
  height: 33px;
}
.navList a,
.userCenter-list a {
  color: #696969;
}
.slider {
  width: 100px;
  height: 5px;
  /* background-color: #5352ed; */
  background-color: #0fbcf9;
  /* background-color: #7342fa; */
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: -140px;
  z-index: 1;
  transition: all ease, 0.4s;
}
.navList li:nth-child(1) {
  left: 30px;
}
.navList li:nth-child(2) {
  left: 130px;
}
.navList li:nth-child(3) {
  left: 230px;
}
.navList li:nth-child(4) {
  left: 330px;
}
.navList li:nth-child(5) {
  left: 430px;
}
.navList li:nth-child(6) {
  left: 530px;
}
.navList li:nth-child(7) {
  left: 630px;
}
.navList li:nth-child(8) {
  left: 730px;
}
.navList li a:hover {
  font-size: 19px;
  transition: 0.4s;
}
.navList li:nth-child(1):hover ~ .slider {
  left: 40px;
}
.navList li:nth-child(2):hover ~ .slider {
  left: 138px;
}
.navList li:nth-child(3):hover ~ .slider {
  left: 238px;
}
.navList li:nth-child(4):hover ~ .slider {
  left: 338px;
}
.navList li:nth-child(5):hover ~ .slider {
  left: 438px;
}
.navList li:nth-child(6):hover ~ .slider {
  left: 538px;
}
.navList li:nth-child(7):hover ~ .slider {
  left: 638px;
}
.navList li:nth-child(8):hover ~ .slider {
  left: 738px;
}
.navList li .one {
  color: #696969;
  z-index: 100;
}
.navigation .navList li a {
  display: block;
  width: 120px;
  height: 3px;
  z-index: 100;
  position: absolute;
}
.navigation ul li a:hover {
  color: #666666;
  cursor: pointer;
  /* z-index: 200; */
}
.navigation ul li::after {
  content: "";
  display: none;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 40px;
  z-index: 1;
  transition: all ease, 0.3s;
}
.navigation ul .three::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}
.navigation ul li a:focus::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}

/*新搜索框框*/
.search-box {
  position: absolute;
  top: 27px;
  right: 100px;
  transform: translate(20%, -50%);
  background: #d3d3d3;
  height: 30px;
  border-radius: 30px;
  padding: 3px;
  z-index: 1001;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
}
.search-box:hover {
  background: #f8f8ff;
  border: 2px #f1f1f1 solid;
}
.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
  margin: 4px;
  margin-right: 2px;
}

.search-box .search-btn {
  /* color: #7342fa; */
  color: #0fbcf9;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d3d3d3;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
  /*与 “display:center” 搭配使用，居中对齐弹性盒的各项<div>元素*/
  z-index: 10008;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #696969;
  font-size: 14px;
  transition: 0.4s;
  line-height: 25px;
  width: 0px;
}

header .burger {
  display: none;
}
.context {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  position: absolute;
  top: 106px;
  width: 100vw;
  height: 1730px;
  background-color: #f1f1f1;
  padding-top: 15px;
}
/* .context .left-context {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.left-context {
  flex: 1;
  /* background-color: #f1f1f1; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 10px;
}
.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  /* height: 100px; */
  z-index: 800;
  border: 1px white solid;
  margin: 0.75rem;
  height: 300px;
  background-color: #f8f8ff;
  padding-top: 10px;
  font-size: xx-large;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  text-align: center;
  /* box-shadow: 0 0px 6px rgb(168, 168, 168, 0.5); */
}
.statistic .h5 {
  flex: 1;
  position: relative;
  color: #2e2e2e;
  /* top: 10px;
  left: -70px; */
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.statistic .container {
  flex: 3;
}
.skills {
  width: 95%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px 40px 20px 40px;
  /* border: 1px white solid; */
  background: #f8f8ff;
  margin: 0.75rem;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgb(168, 168, 168, 0.5);
}
.skills h2 {
  position: absolute;
  color: #2e2e2e;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}
.skill-name {
  font-size: 16px;
  font-weight: 600;
  margin: 22px 0;
  color: #2e2e2e;
}
.skill-one {
  margin-top: 40px;
}
.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}
.skill-per {
  height: 20px;
  background-color: #0fbcf9;
  /* background-color: #7342fa; */
  /* background-color: #5352ed; */
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}
.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -18px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.skills .ten {
  margin-bottom: 40px;
}

.context .right-context {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  position: relative;
  margin-bottom: 70px;
  background-color: #f8f8ff;
  margin-right: 20px;
  margin-left: 40px;
  width: 600px;
  position: relative;
  top: 13px;
  right: 40px;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  height: 1600px;
  padding: 0 0 70px 0;
  /* height: 2000px; */
  /* padding: 15px 0; */
}
.bugLists {
  height: 1500px;
}
.right-context .list {
  /* flex-basis: 120px; */
  flex: 1;
  width: 100%;
  height: 100px;
  padding: 10px 17px 10px 45px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: center;
  border-bottom: 1px solid #b6b6b6;
  position: relative;
  left: -20px;
  /* align-content: flex-start; */
  /* margin-bottom: 10px; */
}
.right-context .list .domain-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  position: relative;
  left: -20px;
  width: 100%;
  height: 120px;
  color: #747373;
  font-size: 14px;
  /* flex-basis: 300px; */
}
.right-context .list .domain-name p {
  flex: 1;
}
.right-context .list .domain-name .two-p {
  flex: 1;
}
.right-context .list .domain-name .two-p a:link {
  color: rgb(43, 43, 248);
}
.right-context .list .domain-name .two-p a:visited {
  color: rgb(43, 43, 248);
}
.right-context .list .domain-name .two-p a:hover {
  color: #0fbcf9;
}
.right-context .list .domain-name .three-p {
  flex: 1;
}

.right-context .list .domain-name i {
  /* display: inline-block; */
  float: left;
  margin-right: 5px;
}
/* .right-context .list .domain-name .pgr {
 
  float: left;
} */
.right-context .list .tab-pane {
  flex: 1.2;
  height: 130px;
  /* align-content: flex-start; */
  width: 400px;
  overflow: scroll;
  white-space: pre-line;
  border: #b6b6b6 solid 1px;
  border-radius: 2px;
  background-color: #f8f8ff;
  margin-right: 20px;
}
/* table .page-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 90%;
  margin-bottom: 13px;
  line-height: 40px;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  color: #4b4a4a;
  left: 400px;
}
table .page-number td {
  flex: 1;
  color: #4b4a4a;
}
table .page-number td a:active {
  color: #0fbcf9;
} */
.pageNumber {
  position: relative;
  left: 285px;
  top: 25px;
}
.pageNumber ul {
  height: 100%;
  list-style-type: none;
}

.pageNumber ul li {
  line-height: 40px;
  float: left;
}
.pageNumber .page_btn {
  border-radius: 4px;
  /* border: 1px solid #e5e9ef; */
  border: 1px solid #d3d3d3;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 8px;
  margin-top: 6px;
  outline: 0;
}

.pageNumber .page_btn:hover {
  border: 1px solid #4f90fb;
  color: #4f90fb;
  cursor: pointer;
}

.pageNumber span.pages_span {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  position: relative;
  top: 10px;
}

.body-tail {
  position: absolute;
  top: 1830px;
  width: 100vw;
  height: 40px;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
  border-top: 1px rgb(129, 129, 129) solid;
  background-color: rgb(238, 238, 238);
  color: #7a7a7a;
  font-size: 14px;
  z-index: 101;
}
