* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
.navigation ul .one::after {
  content: "";
  display: none;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}
.navigation ul .two::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 95%;
  /* height: 100px; */
  z-index: 800;
  border: 1px white solid;
  margin: 0.75rem;
  height: 300px;
  background-color: #f8f8ff;
  padding-top: 30px;
  font-size: xx-large;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  text-align: center;
}
.statistic h5 {
  flex: 1;
  position: relative;
  color: #2e2e2e;
  top: -20px;
  left: 0px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.statistic .container {
  flex: 3;
  position: relative;
  top: -10px;
}
/* .statistic .container {
  flex: 3;
  vertical-align: middle;
  margin: 10px auto;
} */
.context {
  height: 1100px;
  width: 100vw;
}
.left-context {
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 10px;
}
.skills {
  height: 1100px;
}
.right-context {
  flex: 2.5;
  position: relative;
}
.content-wrapper {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
  background-color: #f8f8ff;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  height: 260px;
  position: relative;
  top: 0px;
  padding: 10px 10px;
}
.features {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}
.features h3,
.features p {
  color: #2e2e2e;
}
/* .features h5 {
  font-weight: 550;
  font-size: 16px;
} */

.feature {
  position: relative;
  flex: 1;
  align-items: center;
  justify-items: center;
  height: 110px;
  width: 90%;
  margin: 0 6px;
  background-color: #f8f8ff;
  display: flex;
  flex-direction: row;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
}
.feature:hover {
  cursor: pointer;
}
.features .one:hover i {
  font-size: 56px;
  transition: 0.4s;
}
.feature i {
  flex: 1;
  font-size: 48px;
  position: absolute;
  left: 30px;
  color: rgb(22, 122, 253);
}

.feature h3 {
  flex: 2;
  position: absolute;
  left: 120px;
  top: 20px;
  font-size: 26px;
  font-weight: 600;
}

.feature h5 {
  position: absolute;
  top: 70px;
  left: 110px;
  font-size: 16px;
  color: #2e2e2e;
  font-weight: 500;
}
.contents {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  width: 100%;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 110px;
  margin: 0 6px;
  background-color: #f8f8ff;
  display: flex;
  flex-direction: row;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  position: relative;
  color: #2e2e2e;
}
.content i {
  flex: 1;
  font-size: 32px;
  position: absolute;
  left: 20px;
  color: rgb(22, 122, 253);
  /* color: #098ddf;
  color: #3c763d;
  color: #428bca;
  color: #098ddf; */
}
.content h3 {
  flex: 2;
  position: absolute;
  left: 100px;
  top: 25px;
  font-weight: 500;
}
.content h5 {
  position: absolute;
  left: 120px;
  top: 68px;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 500;
}
.content-mid {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15px;
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  vertical-align: middle;
  column-gap: 15px;
}
.content-mid form {
  /* width: 90%; */
  flex: 3.5;
  display: flex;
  /* width: 175%; */
  flex-direction: row;
  align-items: center;
  justify-items: center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  left: 10px;
}
.content-mid form textarea {
  flex: 4.2;
  /* width: 100%; */
  height: 140px;
  background-color: #f8f8ff;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  /* margin-right: 20px; */
  padding-left: 10px;
  color: #494949;
}
.content-mid form button {
  flex: 1;
  /* width: 90%; */
  height: 45px;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #0fbcf9;
  color: #fff;
  padding: 10px 15px;
  position: relative;
  top: 33px;
  left: 15px;
  font-size: 18px;
}
.content-mid form button:hover {
  cursor: pointer;
  background-color: #0394e7;
}
.contentNums {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .content-mid-right {
  position: relative;
  left: 20px;
  flex: 1;
  margin-left: 20px;
  display: grid;
  grid-template-areas:
    "p1 p2"
    "   p3";
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px;
  row-gap: 15px;
} */
.content-mid p {
  flex: 1;
  /* width: 100%; */
  height: 50px;
  color: #2e2e2e;
  color: black;
  font-size: 18px;
  /* margin-bottom: 4px; */
  border: #d3d3d3 solid 1px;
  background-color: #f8f8ff;
  border-radius: 4px;
  width: 80%;
  padding: 10px 0px;
  margin-bottom: 10px;
}
.content-mid .p1 {
  position: relative;
  left: -170px;
  top: 20px;
}
.content-mid .p2,
.content-mid .p3 {
  position: relative;
  /* left: -180px; */
  top: -35px;
}
.content-mid .p2 {
  margin-bottom: 15px;
}
.content-mid .p3 {
  position: relative;
  /* left: -180px; */
  top: -20px;
}
/* .content-mid-right .p1 {
  grid-area: p1;
}
.content-mid-right .p2 {
  grid-area: p2;
}
.content-mid-right .p3 {
  grid-area: p3;
} */

.charts {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 10px;
}
.bar-graph {
  flex: 1;
  background-color: #f8f8ff;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  position: relative;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  margin: 16px;
  margin-left: 10px;
}
.bar-graph h5 {
  position: absolute;
  top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #2e2e2e;
}
.curve-graph {
  flex: 1;
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: relative;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.06);
  margin: 16px;
  margin-left: 10px;
  margin-top: 0;
}
.curve-graph h5 {
  position: absolute;
  top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #2e2e2e;
}
.body-tail {
  top: 1660px;
}
