* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, "PingFang SC", "Microsoft Yahei", sans-serif;
}
.navigation ul .one::after {
  content: "";
  display: none;
}
.statistic {
  box-shadow: rgb(168, 168, 168, 0.5) -8px 0px 8px -8px,
    rgb(168, 168, 168, 0.5) 8px 0 8px -8px;
}
.skills {
  box-shadow: 0 4px 6px rgb(168, 168, 168, 0.5);
}
.right-context {
  flex: 2.5;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-left: 10px;
}
.content {
  width: 96%;
  background-color: #f8f8ff;
  border: 1px solid #d6d3d3;
  border-radius: 4px;
  height: 1400px;
  position: relative;
  /* top: 11px; */
  box-shadow: 0 4px 6px rgb(168, 168, 168, 0.5);
  padding: 56px 64px;
  color: #474747;
  margin-right: 32px;
}
/* .content-titles {
    display: flex;
    flex-direction: column;
    height: 150px;
  } */
.content-titles h2 {
  color: black;
  border-left: 5px solid #0fbcf9;
  padding: 1px 10px;
}
.domain-details {
  font-size: 16px;
  position: relative;
  top: 45px;
  left: 10px;
}
.domain-details i {
  color: #0fbcf9;
  font-size: 24px;
  font-weight: lighter;
  margin-right: 13px;
  -webkit-text-stroke: 1px #f8f8ff;
}
.domain-details .domain-detail {
  margin-bottom: 10px;
}
.response {
  position: relative;
  top: 57px;
  left: 50px;
}
.container-list {
  position: relative;
  top: 70px;
  width: 100%;
}
.tab-custom {
  width: 96%;
}
.tab-custom .tab {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tab-custom .tab button {
  flex: 1;
  background-color: inherit;
  border: none;
  /* width: 130px; */
  height: 80px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 15px 10px 15px 10px;
  border-radius: unset;
  /* border: 1px solid red; */
  position: relative;
  left: 10px;
}
.tab-custom .tab button:hover {
  cursor: pointer;
}
.tab-custom .tab p {
  color: #424141;
  vertical-align: middle;
  line-height: 40px;
  font-size: 22px;
}
.tab-custom hr {
  position: relative;
  top: -1px;
  color: #fff;
  width: 105%;
  z-index: 100;
  /* box-shadow: 0 0 28px rgba(0, 0, 0, 0.2); */
}
.tab-content {
  position: relative;
  top: 90px;
  left: 15px;
  font-size: 16px;
  width: 100%;
}
.tab-content .tabPane {
  overflow: scroll;
  /* width: 600px; */
  width: 100%;
  height: 800px;
  margin-right: 15px;
  white-space: pre-line;
  position: relative;
  top: -40px;
}
.tab-content .tab-basics {
  width: 100%;
}
.tab-content .tab-basic {
  margin-bottom: 10px;
  width: 90%;
  /* position: relative;
    top: -30px; */
}
.tab-content .tab-basic i {
  font-size: 24px;
  color: #0fbcf9;
  margin-right: 13px;
  -webkit-text-stroke: 1px #f8f8ff;
  color: #0fbcf9;
}
.tab-content .tab-basic span {
  width: 95%;
}
.tab-content .tanPane .historys p {
  margin-bottom: 10px;
}

.tab-custom .tab button.active,
.tab-custom .tab button:active {
  border-bottom: 5px solid #0fbcf9;
  color: black;
  /* padding: 30px 0px; */
  /* line-height: 40px; */
}
.tab-custom .tab button:active > .tab-custom .tab p {
  color: black;
}
