* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
body {
  background-color: #f1f1f1;
  width: 100vw;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  width: 100vw;
  display: grid;
  padding: 0 40px;
  position: relative;
  align-items: center;
  z-index: 100;
}

header .container .top {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 100;
}
h1 {
  display: inline-block;
}
h1 img {
  width: 150px;
  height: 50px;
  margin-left: 0px;
  margin-top: 10px;
  display: inline-block;
}
.container,
.container .top {
  position: relative;
}
.container .top {
  width: 100vw;
}
.container hr {
  background-color: white;
  border-style: none;
  font-size: 5px;
  font-weight: 700;
  height: 2px;
  margin-left: -40px;
  margin-top: -140px;
}
.userCenter {
  clear: both;
}
.userCenter-list {
  display: block;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 100;
}
.userCenter-list li {
  float: left;
  display: block;
  margin: 0 20px;
}
.userCenter li a:hover {
  /* color: #5352ed; */
  color: #0fbcf9;
}
.navigation {
  width: 100%;
  clear: both;
  position: absolute;
  top: 75px;
  margin: 0 20px;
  /* display: flex; */
}
.navList {
  /* flex: 5; */
  display: block;
  float: left;
  /* margin-left: 18px;
    position: absolute; */
}
.navList li {
  position: absolute;
  display: block;
  float: left;
  width: 100px;
  height: 33px;
}
.navList a {
  display: block;
  width: 100px;
  height: 33px;
}
.navList a,
.userCenter-list a {
  color: #696969;
}
.slider {
  width: 100px;
  height: 33px;
  /* background-color: #5352ed; */
  background-color: #0fbcf9;
  border-radius: 4px;
  position: absolute;
  top: -5px;
  left: -32px;
  z-index: -1;
  transition: all ease, 0.4s;
}

.navList li:nth-child(2) {
  left: 100px;
}
.navList li:nth-child(3) {
  left: 200px;
}
.navList li:nth-child(4) {
  left: 300px;
}
.navList li:nth-child(5) {
  left: 400px;
}
.navList li:nth-child(6) {
  left: 520px;
}
.navList li:nth-child(7) {
  left: 620px;
}
.navList li:nth-child(8) {
  left: 720px;
}

.navList li:nth-child(1):hover ~ .slider {
  left: -20px;
}
.navList li:nth-child(2):hover ~ .slider {
  left: 75px;
}
.navList li:nth-child(3):hover ~ .slider {
  left: 180px;
}
.navList li:nth-child(4):hover ~ .slider {
  left: 280px;
}
.navList li:nth-child(5):hover ~ .slider {
  left: 380px;
}
.navList li:nth-child(6):hover ~ .slider {
  left: 487px;
}
.navList li:nth-child(7):hover ~ .slider {
  left: 587px;
}
.navList li:nth-child(8):hover ~ .slider {
  left: 687px;
}
.navList li .one {
  color: white;
}
.navigation .navList li a {
  display: block;
  width: 120px;
  height: 3px;
  z-index: 100;
  position: absolute;
}
.navigation ul li a:hover {
  color: white;
  cursor: pointer;
  /* z-index: 200; */
}
.search-box {
  /* flex: 1; */
  display: block;
  position: absolute;
  top: 0px;
  right: 130px;
  display: flex;
  height: 30px;
  width: 220px;
}
.search-box input {
  border-radius: 5px;
  z-index: 100;
  outline: none;
}
.search-txt {
  line-height: 30px;
  width: 100%;
}
.search-btn {
  position: absolute;
  line-height: 30px;
  font-size: 20px;
  left: 190px;
  color: #696969;
  /* color: #5352ed; */
  z-index: 100;
}

i:hover {
  /* color: #5352ed; */
  color: #0fbcf9;
}
header .burger {
  display: none;
}
.context {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 120px;
  width: 100vw;
  height: 1210px;
  background-color: black;
}
.left-context {
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  /* height: 100px; */
  z-index: 800;
  border: 1px white solid;
  margin: 0.75rem;
  height: 250px;
  background-color: white;
  padding-top: 30px;
  font-size: xx-large;
}
.statistic h5 {
  position: absolute;
  top: 25px;
  left: 100px;
  font-size: 26px;
  font-weight: 700;
}
.skills {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 40px 20px 40px;
  /* border: 1px white solid; */
  background: white;
  margin: 0.75rem;
}
.skill h2 {
  position: absolute;
  font-size: 46px;
  font-weight: 700;
  align-items: center;
}
.skill-name {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}
.skill-bar {
  height: 20px;
  background: #cacaca;
  border-radius: 8px;
}
.skill-per {
  height: 20px;
  background-color: #0fbcf9;
  /* background-color: #5352ed; */
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}
.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -18px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

.right-context {
  flex: 2;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
.newest {
  flex: 1;
  width: 94%;
  background-color: white;
  height: 180px;
  z-index: 100;
  margin: 20px 20px 0 20px;
  padding: 10px 0 0 10px;
}
.right-context .first {
  position: relative;
  top: -6px;
  margin-bottom: -6px;
}
.last {
  margin-bottom: 20px;
}
