.navigation ul .one::after {
  content: "";
  display: none;
}
.navigation ul .four::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}
.right-context {
  width: 100%;
}

.pocContainer {
  width: 94%;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  height: 360px;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  left: 10px;
}
.pocContainer form {
  position: relative;
  top: 50px;
}
form ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
form ul li label {
  width: 200px;
  text-align: left;
  font-size: 20px;
  color: #696969;
}
form ul li select {
  width: 140px;
  height: 35px;
  width: 240px;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  cursor: pointer;
  color: #696969;
}

form ul li select option {
  color: #606060;
}

form ul li input {
  height: 35px;
  width: 240px;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

form button {
  background-color: #0fbcf9;
  color: #f8f8ff;
  /* height:35px; */
  padding: 10px 30px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  position: relative;
  left: 320px;
  top: 40px;
  font-size: 18px;
}
form button:hover {
  cursor: pointer;
  background-color: #0394e7;
}
.pocLists {
  width: 94%;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  height: 1030px;
  /* display: flex; */
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: 10px;
  overflow-y: scroll;
  position: relative;
  top: 20px;
}
.pocLists h2 {
  color: #474747;
  line-height: 55px;
  width: 100%;
  background-color: rgb(228, 227, 227);
  text-align: center;
  display: block;
  display: fixed;
}
.pocLists .tabContent {
  width: 100%;
  text-align: center;
  display: block;
}
.pocLists .tabContent .pocList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 10px;
}
.pocLists .tabContent ul li {
  flex: 1;
  width: 97%;
  line-height: 70px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #f8f8ff;
}
.context {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 120px;
  width: 100vw;
  height: 1550px;
  background-color: #f1f1f1;
}
.body-tail {
  position: absolute;
  top: 1630px;
}
