.settingContext {
  width: 92%;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  height: 400px;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  left: 10px;
}
form {
  position: relative;
  top: 50px;
}
form ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
form ul li label {
  width: 200px;
  text-align: left;
  font-size: 18px;
  color: #696969;
}
form ul li input {
  height: 35px;
  width: 180px;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.scanOption {
  display: flex;
  flex-direction: row;
  width: 80%;
}
form .scanRadio {
  flex: 1;
  position: relative;
  line-height: 30px;
  top: 20px;
  left: 50px;
}
/*隐形原来的单选框*/
input[type="radio"] {
  width: 20px;
  height: 20px;
  opacity: 0;
}

.scanOption label {
  position: absolute;
  /* position: relative; */
  left: -10px;
  top: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999;
  cursor: pointer;
}
/*设置选中的input的样式*/
/* + 是兄弟选择器,获取选中后的label元素*/
.scanOption input:checked + label {
  background-color: #0fbcf9;
  border: 1px solid #0fbcf9;
}
/*添加的加号与label进行拼接(一个矩形边框去掉上和左的边框),再旋转45度*/
.scanOption input:checked + label::after {
  position: absolute;
  /* position: relative; */
  content: "";
  width: 5px;
  height: 10px;
  top: 3px;
  left: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
form button {
  background-color: #0fbcf9;
  color: #f8f8ff;
  /* height:35px; */
  padding: 10px 30px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  position: relative;
  left: 260px;
  top: 60px;
  font-size: 18px;
}
form button:hover {
  cursor: pointer;
  background-color: #0394e7;
}
