* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/45.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.context {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  /* background-color: #f1f1f1; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.context .container {
  width: 400px;
  height: 450px;
  margin: -10px auto 0px;
  padding: 20px 50px 20px;
  /* background-color: #fff; */
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
}

.context .title {
  margin: 0 auto 40px;
  padding: 10px;
  font-size: 48px;
  font-weight: 500;
  color: white;
}

.context .logo img {
  position: absolute;
  width: 170px;
  height: 90px;
  margin-left: 70px;
  margin-top: -340px;
}

.context .login-form {
  position: relative;
  left: -15px;
  top: -10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
}

.context form .input-num {
  position: relative;
  width: 285px;
}

.context form .input-num input {
  width: 100%;
  height: 40px;
  margin-bottom: 7px;
  padding: 4px 12px 4px 35px;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  background-color: hsla(0, 0%, 71%, 0.1);
  opacity: 0.2;
  color: white;
  /* background-color: #f8f8ff; */
  vertical-align: middle;
}

/* .context form .input-prepend {
  border-bottom: none;
  margin-bottom: 0;
} */

.login-form {
  position: relative;
  left: 17px;
}
::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholde,
::-moz-placeholder {
  color: white;
  font-size: 24px;
}
.context .sign-up-button {
  position: absolute;
  left: 0px;
  margin-top: 15px;
  width: 110%;
  padding: 9px 18px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  color: #fff;
  /* background-color: rgb(22, 122, 253); */
  background-color: rgba(6, 6, 77, 0.8);
  /* opacity: 0.5; */
  cursor: pointer;
  outline: none;
  display: block;
  clear: both;
}

.context .sign-up-button:hover {
  /* background: #3db922;
  background-color: rgb(10, 108, 236); */
  background-color: rgb(3, 3, 54);
}

.context .restyle {
  position: relative;
}

.context .restyle i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 23px;
  margin-top: -45px;
  margin-left: -163px;
  color: #969696;
  color: #fff;
}

.context .passw i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 19px;
  margin-top: -45px;
  margin-left: -163px;
  color: #969696;
  color: #fff;
}

.context .input-prepend i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 21px;
  margin-top: -45px;
  margin-left: -163px;
  color: #969696;
  color: #fff;
}

.context .sign-up-msg {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  position: relative;
  left: 22px;
}

.context .sign-up-msg a,
.context .sign-up-msg a:hover {
  color: #3194d0;
}

#sign-in-form-submit-btn {
  position: absolute;
}
/* .error {
  position: absolute;
  margin-top: -30px;
  width: 100%;
  height: 10px;
  margin-bottom: 0px;
  border: 2px red solid;
  font-size: 64px;
  color: red;
  z-index: 100;
  border-radius: 4px 4px 0 0;
} */
