* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #f1f1f1; */
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  /* background-color: #f1f1f1;
    background: url("../images/1.jpg");
    background-repeat: no-repeat; */
  /* background-attachment: fixed;
    object-fit: cover; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropdown-menu li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.context .container {
  width: 450px;
  height: 400px;
  margin: -20px auto 0;
  padding: 20px 50px 20px;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.context .title {
  margin: 0 auto 50px;
  padding: 10px;
  font-weight: 400;
  color: #969696;
}
.context .normal-title {
  margin: 0 auto;
  padding: 10px;
  font-size: 24px;
  color: #969696;
}
.context .normal-title a {
  color: #969696;
}
.context .login-form {
  clear: both;
}
h1 {
  font-size: 45px;
  /* color: black; */
  color: white;
}
.context .logo h1 a {
  /* color: black; */
  color: white;
}

.context .titlse a:hover {
  border-bottom: 2px solid #ea6f5a;
  color: #ea6f5a;
}

.context .title a {
  padding: 10px;
  color: #969696;
}
.context .title a:hover {
  border-bottom: 2px solid #ea6f5a;
}
.context .title .active {
  font-weight: 700;
  color: #ea6f5a;
  border-bottom: 2px solid #ea6f5a;
}
.context .title b {
  padding: 10px;
}
/* .context form {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
} */
.context form .input-num {
  position: relative;
  width: 275px;
  top: -20px;
}
.context form .input-num input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 4px 12px 4px 35px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: hsla(0, 0%, 71%, 0.1);
  background-color: #f8f8ff;
  vertical-align: middle;
}
.context form .input-prepend span {
  color: #3e3e3e;
}
/* .context form .restyle {
  margin-bottom: 0;
} */
.context form .restyle input {
  border-radius: 4px;
}
.context .remember-btn {
  float: left;
  margin: 15px 0;
  position: relative;
  top: -20px;
}
.context .remember-btn span {
  margin-left: 5px;
  font-size: 15px;
  color: #969696;
  vertical-align: middle;
}
.context .forget-btn {
  float: right;
  position: relative;
  margin: 15px 0;
  font-size: 14px;
  position: relative;
  top: -20px;
}
.context .forget-btn a {
  color: #999;
}
.context .forget-btn a:hover {
  color: #333;
}
.login-form {
  position: relative;
  left: 15px;
}
.context .sign-in-button {
  position: absolute;
  left: -15px;
  top: 130px;
  width: 100%;
  padding: 9px 18px;
  font-size: 18px;
  /* background-color: #5352ed; */
  background-color: rgb(22, 122, 253);
  background-color: rgb(5, 5, 65);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  clear: both;
  outline: none;
  /* opacity: 0; */
}
.context .sign-in-button:hover {
  /* background: #187cb7; */
  /* background-color: rgb(10, 108, 236); */
  background-color: rgb(3, 3, 54);
}

.context .restyle {
  position: relative;
  top: -15px;
}
.context .passw {
  position: relative;
  top: -15px;
}
.context .restyle i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 23px;
  margin-top: -50px;
  margin-left: -160px;
  color: #969696;
}
.context .passw i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 21px;
  margin-top: -50px;
  margin-left: -160px;
  color: #969696;
}
