* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #f1f1f1; */
  background-image: url("../images/40.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  /* background-color: #f1f1f1;
    background: url("../images/1.jpg");
    background-repeat: no-repeat; */
  /* background-attachment: fixed;
    object-fit: cover; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.context .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: -20px auto 0;
  padding: 20px 0;
  /* background-color: #fff; */
  /* opacity: 0.9; */
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.context .title {
  margin: 0 auto 50px;
  padding: 10px;
  font-weight: 500;
  color: white;
  font-size: 48px;
}

.context .login-form {
  clear: both;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -15px;
  color: #fff;
}

/* .context .title a:hover {
  border-bottom: 2px solid #ea6f5a;
}
.context .title .active {
  font-weight: 700;
  color: #ea6f5a;
  border-bottom: 2px solid #ea6f5a;
}
.context .title b {
  padding: 10px;
} */
/* .context form {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
} */
.context form .input-num {
  position: relative;
  width: 285px;
  top: -20px;
}
.context form .input-num input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 4px 12px 4px 35px;
  border: 2px solid white;
  border-radius: 4px;
  background: inherit;
  /* background-color: hsla(0, 0%, 71%, 0.1); */
  opacity: 0.9;
  /* background-color: #f8f8ff; */
  vertical-align: middle;
  color: white;
}
input::-webkit-input-placeholder {
  color: white !important;
  z-index: 1000;
}
::-moz-placeholder {
  color: white !important;
  z-index: 1000;
}
input:-ms-input-placeholde {
  z-index: 1000;
  color: white !important;
}
input:-moz-placeholder {
  color: white !important;
  z-index: 1000;
}

.context .remember-btn {
  float: left;
  margin: 15px 0;
  position: relative;
  top: -20px;
  left: 15px;
}
.context .remember-btn span {
  margin-left: 5px;
  font-size: 15px;
  color: white;
  vertical-align: middle;
}
.context .forget-btn {
  float: right;
  position: relative;
  margin: 15px 0;
  font-size: 14px;
  position: relative;
  top: -20px;
  left: 15px;
}
.context .forget-btn span {
  color: white;
}
.context .forget-btn a {
  color: #3194d0;
}
.context .forget-btn a:hover {
  color: #ea6f5a;
}
.login-form {
  position: relative;
  left: 15px;
}
.context .sign-in-button {
  position: absolute;
  /* left: -15px; */
  top: 145px;
  width: 84%;
  padding: 9px 18px;
  font-size: 18px;
  /* background-color: #5352ed; */
  background-color: rgb(22, 122, 253);
  background-color: rgb(5, 5, 65);
  background-color: rgba(6, 6, 77, 0.8);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  clear: both;
  outline: none;
  /* opacity: 0; */
}
.context .sign-in-button:hover {
  /* background: #187cb7; */
  /* background-color: rgb(10, 108, 236); */
  background-color: rgb(4, 4, 80);
}

.context .restyle {
  position: relative;
  top: -15px;
}
.context .passw {
  position: relative;
  top: -15px;
}
.context .restyle i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 23px;
  margin-top: -50px;
  margin-left: -160px;
  color: #969696;
  color: #fff;
  color: white;
}
.context .passw i {
  position: absolute;
  float: left;
  width: 80px;
  font-size: 21px;
  margin-top: -50px;
  margin-left: -160px;
  color: #969696;
  color: #fff;
  color: white;
}
