* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
body {
  background-color: #f1f1f1;
  width: 100vw;
  /* height: auto; */
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  width: 100vw;
  display: grid;
  padding: 0 40px;
  position: relative;
  align-items: center;
  z-index: 100;
  background-color: #f8f8ff;
}
header .container .top {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  position: relative;
  z-index: 100;
}

h1 {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-left: 0px;
  margin-top: 0px;
  font-size: 45px;
  display: inline-block;
}
h1 a {
  color: black;
}
.container,
.container .top {
  position: relative;
}
.container .top {
  width: 100vw;
}
.container hr {
  background-color: black;
  border-style: none;
  font-size: 2px;
  /* font-weight: 700; */
  height: 1px;
  margin-left: -40px;
  margin-top: -95px;
  z-index: 200;
}
.userCenter {
  clear: both;
}
.userCenter-list {
  display: block;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 100;
}
.userCenter-list li {
  float: left;
  display: block;
  margin: 0 20px;
}
.userCenter li a:hover {
  /* color: #5352ed; */
  color: #0fbcf9;
  /* color: #7342fa; */
}
.userCenter ul .userC {
  color: #0fbcf9;
}
.navigation {
  width: 100%;
  clear: both;
  position: absolute;
  top: 55.7px;
  /* margin: 0 20px; */
  /* display: flex; */
  left: -50px;
  background-color: #f8f8ff;
  height: 50px;
  text-align: center;
}
.navList {
  /* flex: 5; */
  display: block;
  float: left;
  text-align: center;
  /* margin-left: 18px;
    position: absolute; */
}
.navList li {
  position: absolute;
  display: block;
  float: left;
  width: 100px;
  line-height: 50px;
}
.navList a {
  display: block;
  width: 100px;
  height: 33px;
}
.navList a,
.userCenter-list a {
  color: #696969;
}
.slider {
  width: 100px;
  height: 5px;
  /* background-color: #5352ed; */
  background-color: #0fbcf9;
  /* background-color: #7342fa; */
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: -140px;
  z-index: 1;
  transition: all ease, 0.4s;
}
.navList li:nth-child(1) {
  left: 30px;
}
.navList li:nth-child(2) {
  left: 130px;
}
.navList li:nth-child(3) {
  left: 230px;
}
.navList li:nth-child(4) {
  left: 330px;
}
.navList li:nth-child(5) {
  left: 430px;
}
.navList li:nth-child(6) {
  left: 530px;
}
.navList li:nth-child(7) {
  left: 630px;
}
.navList li:nth-child(8) {
  left: 730px;
}
.navList li a:hover {
  font-size: 19px;
  transition: 0.4s;
}
.navList li:nth-child(1):hover ~ .slider {
  left: 40px;
}
.navList li:nth-child(2):hover ~ .slider {
  left: 138px;
}
.navList li:nth-child(3):hover ~ .slider {
  left: 238px;
}
.navList li:nth-child(4):hover ~ .slider {
  left: 338px;
}
.navList li:nth-child(5):hover ~ .slider {
  left: 438px;
}
.navList li:nth-child(6):hover ~ .slider {
  left: 538px;
}
.navList li:nth-child(7):hover ~ .slider {
  left: 638px;
}
.navList li:nth-child(8):hover ~ .slider {
  left: 738px;
}
.navList li .one {
  color: #696969;
  z-index: 100;
}
.navigation .navList li a {
  display: block;
  width: 120px;
  height: 3px;
  z-index: 100;
  position: absolute;
}
.navigation ul li a:hover {
  color: #666666;
  cursor: pointer;
  /* z-index: 200; */
}
.navigation ul li::after {
  content: "";
  display: none;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 40px;
  z-index: 1;
  transition: all ease, 0.3s;
}

.navigation ul li a:focus::after {
  content: "";
  display: block;
  background-color: #0fbcf9;
  width: 100px;
  height: 5px;
  border-radius: 4px;
  position: absolute;
  top: 42px;
  left: 10px;
  z-index: 1;
  transition: all ease, 0.3s;
}
/*新搜索框框*/
.search-box {
  position: absolute;
  top: 27px;
  right: 100px;
  transform: translate(20%, -50%);
  background: #d3d3d3;
  height: 30px;
  border-radius: 30px;
  padding: 3px;
  z-index: 1001;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
}
.search-box:hover {
  background: #f8f8ff;
  border: 2px #f1f1f1 solid;
}
.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
  margin: 4px;
  margin-right: 2px;
}

.search-box .search-btn {
  /* color: #7342fa; */
  color: #0fbcf9;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #d3d3d3;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
  /*与 “display:center” 搭配使用，居中对齐弹性盒的各项<div>元素*/
  z-index: 10008;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #696969;
  font-size: 14px;
  transition: 0.4s;
  line-height: 25px;
  width: 0px;
}

/* i:hover {
  /* color: #5352ed; */
/* color: #0fbcf9; */
/* } */
header .burger {
  display: none;
}

.context {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  top: 80px;
  width: 100vw;
  height: 700px;
  background-color: #f1f1f1;
  align-items: center;
  justify-items: center;
  padding: 0 72px;
}
.context .left-context {
  flex: 1;
  width: 100%;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  align-items: center;
  padding: 20px 0px;
  height: 600px;
}
.context .left-context .user-self img {
  width: 260px;
  height: 260px;
  border: 1px solid #d3d3d3;
}

.context .left-context .user-self p {
  text-align: left;
  margin-left: 60px;
  color: #696969;
  margin-bottom: 10px;
}
.context .left-context .user-self .name {
  text-align: center;
  margin-left: 0;
  font-size: 20px;
}
.context .left-context .user-self button {
  background-color: #0fbcf9;
  color: #f8f8ff;
  width: 85px;
  height: 35px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-top: 20px;
}
.context .left-context .user-self button:hover {
  cursor: pointer;
  background-color: #0394e7;
}
.context .right-context {
  flex: 2;
  width: 100%;
  margin-left: 20px;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  height: 600px;
}
.context .right-context .tab {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.context .right-context .tab button {
  flex: 1;
  height: 50px;
  background-color: #e9e7e7;
  border: none;
  border-right: 2px solid #fff;
}
.context .right-context .tab button:hover {
  cursor: pointer;
}
.context .right-context .tab .active,
.context .right-context .tab:active {
  background-color: #f8f8ff;
  color: #0fbcf9;
}
.user-left button:hover {
  cursor: pointer;
}
.tab-inv {
  margin-top: 40px;
}
.user-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-right h2 {
  flex: 1.5;
  font-size: 28px;
  font-weight: 500;
  color: #2e2e2e;
  text-align: left;
  position: relative;
  left: -390px;
  margin-top: 20px;
}
.user-right ul {
  flex: 1;
  width: 95%;
}
.user-right ul li {
  float: left;
  border-right: 2px solid #727272;
  padding: 2px 20px;
  position: relative;
  top: -10px;
}
.user-right p {
  flex: 1;
  width: 95%;
  text-align: left;
}
.user-bottom {
  width: 95%;
  position: absolute;
  top: 330px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-items: center;
}
.user-bottom .container-list {
  flex: 3;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 1px #727272;
  height: 500px;
}
.user-bottom .container-list .tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}
.user-bottom .container-list .tab button {
  flex: 1;
  height: 50px;
  border: none;
  border-right: 3px solid #f8f8ff;
  border-top: 1px solid #d3d3d3;
  border-radius: 4px 4px 0 0;
}
form ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
form ol li label {
  display: inline-block;
  width: 200px;
  text-align: left;
  font-size: 16px;
  color: #2e2e2e;
}
form ol li input {
  height: 35px;
  width: 240px;
  background-color: #f8f8ff;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.tab-pane {
  display: block;
  color: #2e2e2e;
}

.collect-list {
  position: relative;
  top: 30px;
  /* margin-top: 10px; */
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: 400px;
}
.assetList {
  height: 250px;
  padding-top: 190px;
  overflow: auto;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabAsset {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabAsset form input {
  background-color: #f8f8ff;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  color: #494949;
  position: relative;
  top: -10px;
  padding-left: 10px;
}

.tabAsset form {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 93%;
  margin: 0 auto;
}
.tabAsset form textarea {
  /* flex: 4.2; */
  /* width: 100%; */
  width: 100%;
  height: 120px;
  background-color: #f8f8ff;
  border: #d3d3d3 solid 1px;
  border-radius: 4px;
  /* margin-right: 20px; */
  padding-left: 10px;
  color: #494949;
}

.tabAsset form button {
  /* flex: 1; */
  /* width: 90%; */
  width: 100%;
  /* height: 25px; */
  border: #d3d3d3 solid 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* margin-right: 10px; */
  background-color: #0fbcf9;
  /* background-color: rgb(214, 214, 212); */
  color: #fff;
  padding: 10px 0;
  position: relative;
  top: -32px;
  opacity: 0.7;
  line-height: 12px;
  font-size: 16px;
}
.tabAsset form button:hover {
  cursor: pointer;
  background-color: #0394e7;
}

.collect-list li {
  width: 90%;
  flex: 1;
  line-height: 70px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #f8f8ff;
}
.assetList li {
  width: 90%;
  flex: 1;
  line-height: 70px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #f8f8ff;
}
.assetList li a {
  width: 690px;
  line-height: 70px;
}
.assetList li a:link {
  color: rgb(65, 65, 224);
}
.assetList li a:visited {
  color: rgb(65, 65, 224);
}
.collect-list .one {
  position: relative;
  margin-top: 100px;
}
.assetList .one {
  position: relative;
  margin-top: 50px;
}
.user-bottom .whatever {
  flex: 1;
  background-color: #f8f8ff;
  height: 500px;
}
.tab-inv p {
  margin-bottom: 20px;
  font-size: 18px;
}
.tab-inv button {
  height: 40px;
  color: #f8f8ff;
  background-color: #0fbcf9;
  padding: 0 20px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
}
.tab-inv button:hover {
  cursor: pointer;
  background-color: #0394e7;
}
.body-tail {
  position: absolute;
  top: 800px;
  width: 100vw;
  height: 35px;
  display: flex;
  /*弹性布局*/
  justify-content: center;
  /*元素在页面上居中排列*/
  align-items: center;
  border-top: 1px rgb(129, 129, 129) solid;
  background-color: rgb(238, 238, 238);
  color: #7a7a7a;
  font-size: 14px;
  z-index: 101;
}
