*{
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.background{
    width: 1519px;
    height:600px;
    position: absolute;
    z-index: -99;
    /* background-color: rgb(0, 0, 77); */
    /* box-shadow: 0 0 15px 15px rgba(3, 0, 184, 0.822); */
    background-color: rgb(224, 224, 224);
}
.shadow{
    background-color: white;
    z-index: -92;
    width: 1519px;
    height:300px;
    top: 470px;
    position: absolute;
    border-radius: 50%;
}
.head{
    margin-top:55px;
    height: 350px;
    width: 1216px;
    margin-left: 152px;
    /* background-color: rgb(54, 89, 185); */
    float:left;
}
.head-dao{
    width: 1519px;
    height: 50px;
    background-color:rgba(3, 0, 27, 0.726);
    /* position: fixed; */
    z-index: 100;
}
.Dao{
    height: 500px;
    width: 100px;
    margin-left: 10px;
    margin-top: 50px;
    position: fixed;
    display: none;
    background-color: violet;
    transition: .5s;
}
.dao-span{
    width: 150px;
    height: 32px;
    margin-left: 20px;
    float: left;
    color: white;
    padding-top: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.dao-user{
    height: 32px;
    width: auto;
    color: white;
    cursor: pointer;
    text-align: right;
    float: right;
    margin-right: 152px;
    font-size: 18px;
    margin-top: 8px;
}
div.dao-span:hover{
    border-bottom-style: solid;
    border-bottom-color:tomato;
    color:tomato;
    /* transition: .5s; */
}
.head-text{
    position: absolute;
    top: 80px;
    width: 800px;
    height: 375px;
    /* background-color: rgba(0, 0, 0, 0.212); */
}
.head-text h1{
    margin-left: 10px;
    font-size: 70px;
    color: white;
    float: left;
}
.head-text hr{
    margin-left: 10px;
    margin-top: 13px;
    float: right;
    background-color: white;
    width: 800px;
    height: 3px;
    border-style: none;
    border-radius: 16px;
}
.hidden{
    position: absolute;
    top: 45px;
    display: none;
    width: auto;
    height: auto;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.603);
}
.hidden li{
    width: 300px;
    height: 25px;
    color: white;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}
.hidden li:hover{
    color: tomato;
    transition: .3s;
    font-size: 18px;
}
.dao-span:hover .hidden{
    display:block;
    transition: .5s;
}
.body-se1{
    width: 1216px;
    height: 480px;
    margin-left: 152px;
    background-color: rgb(240, 245, 248);
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.se1-line{
    width: 1216px;
    height: 10px;
    margin-left: 22px;
    margin-top: 15px;
    float: left;
    /* color: rgb(0, 110, 138); */
    color:rgba(0, 77, 77, 0.822);
    font-size: 20px;
    margin-bottom: 10px;
}
/* .se1-p{
    width: 584px;
    height:200px;
    margin-left: 16px;
    margin-top: 16px;
    background-color:white;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(112, 112, 112);
} */
.se1-p{
    width: 376px;
    height: 400px;
    margin-top: 20px;
    margin-left: 22px;
    background-color: rgb(255, 255, 255);
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(112, 112, 112);
    /* color:tomato; */
}
.p-pic{
    width: 150px;
    height: 150px;
    background-color: thistle;
    border-radius: 50%;
    margin-left: 113px;
    margin-top: 100px;
    margin-bottom: 10px;
    z-index: 0;
}
div.se1-p:hover{
    transition: .5s;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(61, 61, 61, 0.932);
    color: rgb(255, 255, 255);
}


.body-se2{
    width: 1519px;
    height: 650px;
    margin-top: 17px;
    background-color: rgb(238, 238, 238);
    float: left;
}
.title{
    width: 200px;
    height: 50px;
    margin-left: 706px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
.se2-text{
    width: 1216px;
    height: 550px;
    margin-top: 30px;
    margin-left: 152px;
    background-color: rgb(238, 238, 238);
    float: left;
}
.se2-img{
    width: 761px;
    height: 500px;
    margin-top: 50px;
    float: left;
    background-color: cornflowerblue;
}
.inner{
    width: 761px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
ul {
    width: 100%;
    /* position: absolute; */
    list-style: none;
    left:0;
    top: 0;
    padding: 0%;
    font-size: 20px;
    font-weight: 600;
}
.se2-text li{
    width: 1200px;
    height: 35px;
    padding-top: 20px;
    padding-left: 16px;
    color: rgb(77, 77, 77);
    text-decoration-line: underline;
}
.se2-text li:hover{
    transition: .3s;
    font-size: 22px;
    color: white;
    background-color: rgb(105, 105, 105);
}
div.se2-img li{
    float: left;
}
div.se2-img img{
    width: 761px;
    height: 500px;
    vertical-align: top;
}


.body-se3{
    width: 1519px;
    height: 1100px;
    margin-top: 30px;
    /* margin-left: 152px; */
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    float: left;
}
/* .program{
    height: 500px;
    width: 1519px;
} */
.se3-img{
    float: left;
    width: 652px;
    height: 260px;
    padding-top: 200px;
    overflow: hidden;
    /* background: url(图片/together.png); */
    /* background-size: 100% 100%; */
    /* border-radius: 16px; */
    text-align: center;
    color: rgb(255, 255, 255);
    /* background-color: rgb(224, 224, 224); */
    /* background-color: rgba(0, 77, 77, 0.822); */
    background-color: rgba(19, 10, 41, 0.836);
    /* background-color: rgb(7, 36, 68); */
    font-size: 60px;
    font-weight: 700;
}
.se3-text{
    float: left;
    width: 757px;
    height: 410px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 60px;
    background-color: rgb(241, 241, 241);    
    font-size: 18px;
    
}
.se3-text p{
    color: rgb(117, 117, 117);
    text-indent: 50px;
    margin-top: 10px;
}
.se3-text2{
    padding-top: 60px;
    float: left;
    width: 867px;
    height: 540px;
    overflow: hidden;
    background-color: rgb(245, 245, 245); 
}
.se3-text2 p{
    color: rgb(117, 117, 117);
    text-indent: 50px;
    margin-top: 6px;
    font-size: 16px;
}
.body-se4{
    width: 1216px;
    height: 500px;
    margin-left: 152px;
    background-color: rgb(255, 255, 255);
    float: left;
}
.se4-title{
    width: 1216px;
    height: 50px;
    text-align: center;
    color: tomato;
    font-size: 30px;
}
.se4-title hr{
    margin-left: 508px;
    width: 200px;
    height: 3px;
    background-color: tomato;
    margin-top: 3px;
    border-radius: 16px;
    border-style: none;
}
.se4-span{
    padding-top: 60px;
    width: 533px;
    height:340px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgba(0, 77, 77, 0.822);
    float: left;
    border-radius: 16px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: white;
    /* text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0; */
    /* opacity: .7; */
}
.se4-button{
    width: 250px;
    height: 60px;
    margin-top: 30px;
    border-style: none;
    color: white;
    background-color: tomato;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.se4-button:hover{
    transition: .3s;
    font-size: 25px;
}
.body-tail{
    width: 1519px;
    height: 30px;
    padding-top: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(129, 129, 129);
    background-color: rgb(238, 238, 238);
    text-align: center;
    color: rgb(90, 90, 90);
    font-size: 14px;
    float: left;
}
