<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>碎遮-风起</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/style.min.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="../static/images/logo.jpg" style="height: 8rem;min-width: 2.2rem;margin-right: .8rem;vertical-align: top;"/></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">碎遮</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="mailbox.html">修改密码</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html">安全退出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="{{url_for('admin.adminIndex')}}"><i class="glyphicon glyphicon-home"></i> <span class="nav-label">主页</span></a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{{url_for('tasks.taskIndex')}}"><i class="glyphicon glyphicon-list-alt"></i> <span class="nav-label">任务管理</span></a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="layouts.html"><i class="glyphicon glyphicon-pushpin"></i> <span class="nav-label">漏洞列表</span></a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="layouts.html"><i class="glyphicon glyphicon-cog"></i> <span class="nav-label">系统配置</span></a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="layouts.html"><i class="glyphicon glyphicon-th-large"></i> <span class="nav-label">POC管理</span></a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="layouts.html"><i class="glyphicon glyphicon-tags"></i> <span class="nav-label">插件管理</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group " style="display:flex;flex-direction:row;justify-content:flex-start">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" style="width:200px">
                                <button type="submit" class="navbar-minimalize minimalize-styl-2 btn  btn-primary" style="margin-bottom: 10px">搜索</button>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
<!--                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{{ url_for( page | default('admin.adminIndex'))  }}" frameborder="0" data-id="index_v1.html" seamless></iframe>-->
                <div class="gray-bg">
                    <div class="wrapper wrapper-content animated fadeInUp">
                        <div class="row">
                                {% block content %}
                                {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2021 <a href="https://github.com/Cl0udG0d/SZhe_Scan" target="_blank">碎遮-风起</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.metisMenu.js"></script>
    <script src="../static/js/jquery.slimscroll.min.js"></script>
    <script src="../static/js/layer.min.js"></script>
    <script src="../static/js/hplus.min.js"></script>
    <script type="text/javascript" src="../static/js/contabs.min.js"></script>
    <script src="../static/js/pace.min.js"></script>
    <script>
       $(document).ready(function(){$("#loading-example-btn").click(function(){btn=$(this);simpleLoad(btn,true);simpleLoad(btn,false)})});function simpleLoad(btn,state){if(state){btn.children().addClass("fa-spin");btn.contents().last().replaceWith(" Loading")}else{setTimeout(function(){btn.children().removeClass("fa-spin");btn.contents().last().replaceWith(" Refresh")},2000)}};
    </script>
    {% block javascript %}
    {% endblock %}
</body>

</html>
