{% extends 'base.html' %}
{% block title %}仪表盘{% endblock %}
{% block subtitle %}仪表盘{% endblock %}
{% block active1 %}class="active"{% endblock %}
{% block content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-success">
	<strong class="default"></strong> {{ msg }}
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>

{% endfor %}

<div class="row">
			  <div class="col-sm-3">
				  	<div class="panel panel-default">
					  <div class="panel-body">
						  <div class="facebook-followers text-center">
							  <button class="btn btn-facebook-follower btn-lg"><i class="fa fa-check-circle"></i></button>
							  <p class="lead">有效目标</p>
							  <hr>
							  <p class="value" >{{result.targets}} targets</p>
						  </div>
					  </div>
					</div>
				</div>

				 <div class="col-sm-3">
				  	<div class="panel panel-default">
					  <div class="panel-body">
						  <div class="twitter-followers text-center">
							  <button class="btn btn-twitter-follower btn-lg"><i class="fa fa-flask"></i></button>
							  <p class="lead">POC数量</p>
							  <hr>
							  <p class="value">{{result.pocs}} pocs</p>
						  </div>
					  </div>
					</div>
				</div>

				 <div class="col-sm-3">
				  	<div class="panel panel-default">
					  <div class="panel-body">
						  <div class="google-followers text-center">
							  <button class="btn btn-google-follower btn-lg"><i class="fa fa-bug"></i></button>
							  <p class="lead">漏洞数量</p>
							  <hr>
							  <p class="value">{{result.vuls}} vuls</p>
						  </div>
					  </div>
					</div>
				</div>

				 <div class="col-sm-3">
				  	<div class="panel panel-default">
					  <div class="panel-body">
						  <div class="dribbble-followers text-center">
							  <button class="btn btn-dribbble-follower btn-lg"><i class="fa  fa-plus-square-o"></i></button>
							  <p class="lead">插件数量</p>
							  <hr>
							  <p class="value">{{result.plugins}} exts</p>
						  </div>
					  </div>
					</div>
				</div>
          	</div>
			<div class="col-md-12" >
								<div class="panel panel-default" >
								  <div class="panel-body" >
										<p><a  class="btn btn-danger" href="{{url_for('home.delAllLoginLog')}}"><i class="fa  fa-exclamation"></i> 清空日志</a></p><br>
										<table cellpadding="0" cellspacing="0" border="0"
										class="table table-bordered" >
												<thead>
												<tr>
													<th>id</th>
													<th>邮箱</th>
													<th>登录ip</th>
													<th>删除</th>
												</tr>
											</thead>
											<tbody>
												{% for templog in logs %}
												{% if templog.boolcheck %}<tr class="success">{% else %}<tr class="warning">{% endif %}
													<td>{{templog.id}}</td>
													<td>{{templog.email}}</td>
													<td>{{templog.ip}}</td>
													<td><a class="delete" href="{{url_for('home.delLoginLog',id=templog.id)}}">Delete</a></td>
												</tr>
											{% endfor %}
											</tbody>

										</table>
									  <div style="text-align:center">
										  {% import 'pages.html' as pg %}
										  {{ pg.my_paginate(pagination,'home.index') }}
									  </div>
								  </div>
								</div>
						  </div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.11.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/jqueryui/js/jquery-ui-1.10.4.custom.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/switchery/switchery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/customscroll/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/jquery-easing/jquery.easing.1.3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/calendario/js/jquery.calendario.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/offlinejs/offline.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/easypiechart/jquery.easypiechart.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/c3js/d3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/c3js/c3.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/dashboard.js')}}"></script>
{% endblock %}
