{% extends 'base.html' %}
{% block title %}扫描详情{% endblock %}
{% block subtitle %}<h3 class="subtitle">扫描详情</h3>{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.11.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/jqueryui/js/jquery-ui-1.10.4.custom.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/datatables/js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/datatables/TableTools/js/TableTools.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/datatables/bootstrap/3/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/datatables.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/customscroll/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/jquery-easing/jquery.easing.1.3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/offlinejs/offline.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/offlinejs/themes/offline-theme-dark.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-override.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/library.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/offlinejs/themes/offline-theme-dark.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/datatables/bootstrap/3/dataTables.bootstrap.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/datatables/TableTools/css/TableTools.css')}}">

{% endblock %}
{% block content %}


<div class="row">
			  <div class="col-sm-12">
				  	<div class="panel panel-default invoice" id="invoice">
					  <div class="panel-body">
					    <div class="row">

							<div class="col-sm-6 top-left">
								<i class="fa fa-rocket">SZHE</i>
							</div>

							<div class="col-sm-6 top-right">
									<h3 class="marginright">{{task.name}}</h3>
									<span class="marginright">{{scantask.starttime}} to {{scantask.endtime}}</span>
						    </div>

						</div>
						<hr>
						<div class="row">

							<div class="col-xs-4 from">
								<p><code>url</code>:{{info.url}}</p>
								<p><code>status</code>:{{info.status}}</p>
								<p><code>title</code>:{{info.title}}</p>
								<p><code>date</code>:{{info.date}}</p>
								<p><code>server</code>:{{info.Server}}</p>
							</div>

							<div class="col-xs-8 to">
								<div class="panel panel-default">
								  <div class="panel-heading">response header</div>
								  <div class="panel-body" style="height: 150px;overflow: auto;">
									  <pre>{{info.responseheader}}</pre>
<!--								   <p class="list-group-item-text"></p>-->
								  </div>
								</div>
						    </div>

						</div>

						<hr>
						  {% if exts %}
						  	<div class="row">
								<div class="col-xs-14 from">
									<blockquote>
									  <p>插件</p>
									</blockquote>
									<div class="panel-body">
										{% for msg in exts %}
										<div class="col-xs-14 to">
											<div class="panel panel-default">
													<div class="panel-heading">
													  <h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion" href="#{{msg.id}}" class="collapsed">
														  {{msg.pluginname}} #{{msg.created}}
														</a>
													  </h4>
													</div>
													<div id="{{msg.id}}" class="panel-collapse collapse" style="height: 0px;">
													  <div class="panel-body">
														{{msg.result}}
													  </div>
													</div>
												  </div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						  {% endif %}
						  {% if vuls %}
						  	<div class="row">
								<div class="col-xs-14 from">
									<blockquote>
									  <p>漏洞</p>
									</blockquote>
									<div class="panel-body">
										{% for vul in vuls %}
										<div class="col-xs-14 to">
											<div class="panel panel-default">
													<div class="panel-heading">
													  <h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion" href="#{{vul.id}}" class="collapsed">
														  {{vul.pocname}} #{{vul.created}}
														</a>
													  </h4>
													</div>
													<div id="{{vul.id}}" class="panel-collapse collapse" style="height: 0px;">
													  <div class="panel-body">
														{{vul.result}}
													  </div>
													</div>
												  </div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						  {% endif %}
						<div class="row">
						<div class="col-xs-6 text-right pull-right invoice-total">
							<p class="lead marginbottom">SZHE_Scan</p>
							<button class="btn btn-success" id="invoice-print"><i class="fa fa-print"></i> 打印报告</button>
						</div>
						</div>

					  </div>
					</div>
				</div>
          </div>


{% endblock %}
