{% extends 'base.html' %}
{%block title%}任务管理{% endblock %}
{% block menu %}
              <li ><a href="#" class="sf-house">主页</a></li>
              <li class="active"><a href="#" class="sf-dashboard">任务管理</a></li>
              <li ><a href="#" class="sf-notepad">POC列表</a></li>
              <li ><a href="#" class="sf-keyring">插件列表</a></li>
              <li ><a href="#" class="sf-wrench">策略配置</a></li>
              <li ><a href="#" class="md-exit-to-app">注销</a></li>
{% endblock %}
{% block content %}
<div class="panel panel-default demo" >
    <div class="panel-body demo-btn" >
            <button type="button" class="btn btn-default" style="margin-right:10px;">添加任务</button>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        <hr>
        <div>
                            <table class="table" >
                                <thead>
                                    <tr>
                                        <th><code>#</code></th>
                                        <th>任务ID</th>
                                        <th>开始时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <th scope="row">1</th>
                                        <td>active</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr class="success">
                                        <th scope="row">3</th>
                                        <td>success</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr class="info">
                                        <th scope="row">5</th>
                                        <td>info</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr class="warning">
                                        <th scope="row">7</th>
                                        <td>warning</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                    <tr class="danger">
                                        <th scope="row">9</th>
                                        <td>danger</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                    </tr>
                                </tbody>
                            </table>
    </div>
</div>
</div>
{% endblock %}

