{% extends 'base.html' %}
{% block title %}漏洞管理{% endblock %}
{% block subtitle %}漏洞列表{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.11.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/jqueryui/js/jquery-ui-1.10.4.custom.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/datatables/js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/datatables/TableTools/js/TableTools.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/datatables/bootstrap/3/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/datatables.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/customscroll/jquery.mCustomScrollbar.concat.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/jquery-easing/jquery.easing.1.3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='lib/offlinejs/offline.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>

<script>
	function reverseStatus(id){

		$.get("/pocs/reverse/"+id);
	}
</script>
{% endblock %}
{% block css %}

<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/offlinejs/themes/offline-theme-dark.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-override.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/library.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/offlinejs/themes/offline-theme-dark.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/datatables/bootstrap/3/dataTables.bootstrap.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/datatables/TableTools/css/TableTools.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/jquery-fileupload/css/jquery.fileupload.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='lib/jquery-fileupload/css/jquery.fileupload-ui.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/poclist.css')}}">
{% endblock %}
{% block active3 %}class="active"{% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
<div class="alert alert-success">
	<strong class="default">{{ msg }} </strong>
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>

{% endfor %}

<div class="row">
			  <div class="col-md-12">
				  	<div class="panel panel-default">
					  <div class="panel-body">
					  		<table cellpadding="0" cellspacing="0" border="0"
					  		class="table table-bordered">
									<thead>
									<tr>
										<th>id</th>
										<th>url</th>
										<th>pocname</th>
										<th>时间</th>
									</tr>
								</thead>
								<tbody>
									{% for vul in vuls %}
									<tr >
										<td>{{vul.id}}</td>
										<td><a href="{{vul.url}}">{{vul.url}}</a></td>
										<td><button class="btn btn-primary btn-transparent">{{vul.pocname}}</button></td>
										<td>{{vul.created}}</td>
									</tr>
								{% endfor %}
								</tbody>

								</table>

						  <div style="text-align:center">
								{% import 'pages.html' as pg %}
								{{ pg.my_paginate(pagination,'vuls.vullist') }}
							</div>

					  </div>
				  	</div>

			  </div>
            </div>


{% endblock %}
