<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/404.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Sorry!</h1>
        <h4 class="h-one">Bro,your page had lost!<br />But we're working on it.<br />
            <h4 class="h-two">To be patient and pat this bear to <a href="homeOne.html">go home</a>.</h4>
            <a href="homeOne.html"><img src="../static/images/18.jpg"></a>
    </div>
</body>

</html>