<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" />
</head>

<body style="overflow-x:hidden;">
    <header class="header" id="header">
        <div class="container">
            <div class="top">
                <h1>
                    <a href="#" title="Web漏洞扫描器">SZHE</a>
                </h1>
                <div class="userCenter">
                    <ul class="userCenter-list" role="tablist">
                        <li><a href="#" role="tab">个人中心</a></li>
                        <li><a href="#" role="tab">注销</a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <nav class="navigation" id="nav">
                <ul class="navList" id="myTab" role="tabList">
                    <li><a href="#" role="tab" class="one">主页</a></li>
                    <li><a href="#" role="tab">控制台</a></li>
                    <li><a href="#" role="tab">漏洞列表</a></li>
                    <li><a href="#" role="tab">扫描队列</a></li>
                    <li><a href="#" role="tab">信息搜集</a></li>
                    <li><a href="#" role="tab">日志</a></li>
                    <li><a href="#" role="tab">设置</a></li>
                    <li><a href="#" role="tab">关于</a></li>
                    <div class="slider"></div>
                </ul>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="  search..." />
                    <a class="search-btn" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </nav>
            <div class="burger">
                <div class="burger-line1"></div>
                <div class="burger-line2"></div>
                <div class="burger-line3"></div>
            </div>
        </div>
    </header>
    <div class="title">
        <h1>团队介绍</h1>
    </div>
    <div class="context">

        <div class="partner partner1">
            <div class="part p1">
                <img src="../static/images/py.jpg">
                <div class="intro1">
                    <h1>春告鳥</h1>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 人中蔡徐坤<br>&nbsp;&nbsp;&nbsp;&nbsp; 低配韩商言<br>没有情怀的白帽子
                    </p>
                </div>

            </div>
        </div>
        <div class="partner partner2">
            <div class="part p2">
                <img src="../static/images/wsr.jpg">
                <div class="intro1">
                    <h1>七叔</h1>
                    <p>&nbsp;&nbsp;我特别好，特别值得<br>特别想在忙碌与疲惫中<br>&nbsp;&nbsp;找到一个更好的自己
                    </p>
                </div>

            </div>
        </div>
        <div class="partner partner3">
            <div class="part p2">
                <img src="../static/images/dn.jpg">
                <div class="intro1">
                    <h1>不董</h1>
                    <p>普通小孩<br><br>惟适之安
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="body-tail">
        Copyright @ SZHE Vulnerability Scanner
    </div>
</body>

</html>