{% extends 'basenav.html' %}
{%block title%}About{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block context %}
<div class="title">
    <h1>团队介绍</h1>
</div>
<div class="context">

    <div class="partner partner1">
        <div class="part p1">
            <img src="../static/images/py.jpg">
            <div class="intro1">
                <h1>春告鳥</h1>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; 人中蔡徐坤<br>&nbsp;&nbsp;&nbsp;&nbsp; 低配韩商言<br>没有情怀的白帽子
                </p>
            </div>

        </div>
    </div>
    <div class="partner partner2">
        <div class="part p2">
            <img src="../static/images/wsr.jpg">
            <div class="intro1">
                <h1>七叔</h1>
                <p>&nbsp;&nbsp;我特别好<br><br>也特别值得
                </p>
            </div>

        </div>
    </div>
    <div class="partner partner3">
        <div class="part p2">
            <img src="../static/images/dn.jpg">
            <div class="intro1">
                <h1>不董</h1>
                <p>普通小孩<br><br>惟适之安
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}