{% extends 'basenav.html' %}
{% block title %}User{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/assetDetail.css')}}" />
<link rel="stylesheet" href="../static/css/assetDetail.css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block context %}
<div class="assetDetails">
    <h2 class="assetTitle">资产详情:{{name}}</h2>
    <div class="assetDetail">
        <span>{{assetdetail}}</span>
    </div>
</div>
{% endblock %}