{% extends 'basenav.html' %}
{% block title %}User{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/assetDetail.css')}}" />
<link rel="stylesheet" href="../static/css/assetDetail.css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block context %}
<div class="assetDetails">
    <h2 class="assetTitle">资产详情</h2>
    <div class="assetDetail">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus error provident obcaecati, molestiae, quia
            repudiandae blanditiis vitae maxime similique ullam alias ea. Maiores consequuntur repellat, ipsam nemo
            nobis obcaecati quod!
            Aspernatur modi aperiam expedita quo repellendus ad odio temporibus mollitia voluptas accusantium aliquid
            consequuntur, recusandae provident asperiores fugit laudantium error. Nam consequuntur eos a sint magnam
            totam possimus iste perspiciatis.
            Veritatis laudantium veniam, officiis nobis cumque nesciunt alias obcaecati molestias, odit architecto omnis
            aliquam perspiciatis vel cum, dolorem reprehenderit esse modi? Non, incidunt distinctio assumenda natus
            quasi eius quia nesciunt!
            Libero quod tenetur est at beatae cumque adipisci facere! Aliquid debitis quaerat impedit numquam earum
            molestias blanditiis ab qui? Quod iusto laudantium vitae a assumenda fuga fugiat temporibus repellendus
            iure!
            Illum sapiente beatae accusantium accusamus vel, quidem corporis velit modi quis voluptate qui labore
            mollitia harum reprehenderit fugit eum, et sint voluptatibus! Nulla doloribus minus, dolorem porro sapiente
            suscipit ut.
            Dolor maxime libero molestias deserunt cumque numquam accusantium, dicta obcaecati asperiores placeat nam
            accusamus explicabo incidunt dignissimos et. Amet officiis veritatis rerum optio nostrum labore vero laborum
            repellendus odio perspiciatis.
            Distinctio perspiciatis sit magnam? Rem rerum totam adipisci delectus pariatur quidem molestiae corporis
            sint officia dolore perspiciatis quo debitis ipsam repellat, ut doloremque libero velit. Necessitatibus
            deserunt ad nam corporis.
            Eaque illo obcaecati, corrupti natus consequatur quibusdam vel, quisquam facere veniam, quia ea. Facere,
            perferendis aperiam temporibus recusandae ea qui totam quasi mollitia optio nesciunt dolore neque molestiae
            id. Autem?
            Magni tempora reprehenderit quo accusamus a esse rem cupiditate excepturi dolor corporis est aut officiis
            aspernatur voluptatum laudantium ipsam harum alias commodi aperiam cum, cumque porro. Officia laudantium
            veniam nemo?
            Unde ipsam quisquam officiis reiciendis iure. Sunt voluptatum eius commodi ratione quasi doloremque placeat
            beatae, a accusamus praesentium voluptates minima consequuntur quidem. Maiores, optio accusamus? Corrupti
            earum qui ratione beatae.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, inventore enim quo, minus corporis illo eum,
            reprehenderit quod fuga dicta quis omnis corrupti neque unde aliquam sapiente harum. Maxime, architecto!
            Esse eius quis atque optio veniam quos assumenda harum minima in recusandae eaque earum quae quia laborum
            inventore similique maiores nemo, repellat, qui eum quidem dolorum vero? Et, fugiat unde?
            Similique fuga iusto, repudiandae dolore nihil officia sed quibusdam magnam dolores impedit. Vero eius nihil
            quos velit magnam veniam quidem officiis, sit, debitis aperiam ducimus reiciendis eos labore tempore
            architecto.
            Soluta possimus fugiat, dolores quia cumque commodi animi error officiis magnam alias praesentium esse ab,
            culpa ut, dicta explicabo consectetur ipsum fugit ullam? Molestiae molestias et libero, asperiores ullam
            quia?
            Eum harum minima sunt amet, adipisci maiores error at quaerat quia unde cumque modi tempore enim culpa
            possimus accusantium a ullam incidunt voluptates non iusto porro! Reiciendis cum ad dolor!
            Accusamus nam adipisci tempora esse distinctio fugit temporibus eius cupiditate optio, maxime provident.
            Laudantium ex libero ullam suscipit, aperiam nostrum ipsum dolorum reiciendis perspiciatis dignissimos
            magnam quidem nulla. A, recusandae.
            Enim quos perspiciatis exercitationem voluptas eius vel harum sint? Magnam, suscipit quos, ratione iste
            nihil officiis quis voluptate maxime aperiam debitis tempora itaque recusandae natus magni tempore unde nisi
            iusto?
            A molestias quam at cumque? Laudantium consequuntur, voluptatibus, reprehenderit ad accusantium dolorum fuga
            optio accusamus natus rerum porro quaerat qui. Tempora, asperiores tenetur! Numquam, esse! Consequuntur
            eligendi a quibusdam hic.
            Eaque, quas nostrum. Soluta atque quaerat rerum inventore reprehenderit dolorum maiores doloremque saepe
            deserunt pariatur eveniet odio non eligendi repellendus libero, repellat sunt quidem laboriosam dicta
            asperiores. Ducimus, facere maiores!
            Magni aperiam ducimus, dolorum magnam non voluptate nobis optio qui iusto? Ex quidem maiores voluptatem,
            exercitationem, culpa fugit suscipit perspiciatis sunt corrupti cupiditate ipsa impedit expedita explicabo
            temporibus nobis iste.
        </span>
    </div>
</div>
{% endblock %}