<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%}Document{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
    {% endblock %}
    {% block js %}
    <script src="{{url_for('static',filename='js/home.js')}}"></script>
    <script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../static/libs/echarts.min.js"></script>
    {% endblock %}
</head>

<body style="overflow-x:hidden;">
    <header class="header" id="header">
        <div class="container">
            <div class="top">
                <h1>
                    <a href="#" title="Web漏洞扫描器">SZHE</a>
                </h1>
                <div class="userCenter">
                    <ul class="userCenter-list" role="tablist">
                        <li><a href="{{url_for('user')}}" role="tab" class="userC">个人中心</a></li>
                        <li><a href="{{url_for('logout')}}" role="tab">注销</a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <nav class="navigation" id="nav">
                <ul class="navList" id="myTab" role="tabList">
                    <li><a href="{{url_for('index')}}" role="tab" class="one">主页</a></li>
                    <li><a href="{{url_for('console')}}" role="tab">控制台</a></li>
                    <li><a href="{{url_for('buglist')}}" role="tab" class="three">漏洞列表</a></li>
                    <li><a href="{{url_for('POCmanage')}}" role="tab">POC管理</a></li>
                    <li><a href="{{url_for('log_detail')}}" role="tab">日志</a></li>
                    <li><a href="{{url_for('setting')}}" role="tab">设置</a></li>
                    <li><a href="{{url_for('about')}}" role="tab" class="eight">关于</a></li>
                    <div class="slider"></div>
                </ul>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="  search..." />
                    <a class="search-btn" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </nav>
            <div class="burger">
                <div class="burger-line1"></div>
                <div class="burger-line2"></div>
                <div class="burger-line3"></div>
            </div>
        </div>
    </header>
    {% block context %}
    {% endblock %}
    <div class="body-tail">
        Copyright @ SZHE Vulnerability Scanner
    </div>
</body>

</html>