<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="../static/css/baseOne.css">
</head>

<body>
    <header class="header" id="header">
        <div class="container">
            <h1 n><a href="#" title="Web漏洞扫描器"><img src="../static/images/logo.jpg"></a>
            </h1>
            <div class="userCenter">
                <ul class="uesrCenter-list" role="tablist">
                    <li><a href="#" role="tab">个人中心</a></li>
                    <li><a href="#" role="tab">注销</a></li>
                </ul>
            </div>
            <nav class="navigation" id="nav">
                <ul class="navList" id="myTab" role="tabList">
                    <li><a href="#" role="tab">控制台</a></li>
                    <li><a href="#" role="tab">漏洞列表</a></li>
                    <li><a href="#" role="tab">扫描队列</a></li>
                    <li><a href="#" role="tab">信息搜集</a></li>
                    <li><a href="#" role="tab">日志</a></li>
                    <li><a href="#" role="tab">设置</a></li>
                    <li><a href="#" role="tab">关于</a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>

</html>