{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/bug-details.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/js/bug-details.js"></script>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="content">
    <div class="content-titles">
        <h2>漏洞详情</h2>
        <div class="domain-details">
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>所属:{{buginfo.oldurl}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>漏洞链接:{{buginfo.bugurl}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>漏洞类型:{{bugtype.bugtype}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>漏洞等级:{{bugtype.bugtype}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>payload:{{buginfo.payload}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>最后记录时间:2020-05-10 10:01:51</span>
            </div>
        </div>
    </div>
    <div class="container-list">
        <div class="tab-custom">
            <div class="tab">
                <button class="tablinks active" onclick="openList(event, 'tab_1')">
                    <p style="font-size: 20px;">响应包</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_2')">
                    <p style="font-size: 20px;">所属信息</p>
                </button>
                <hr>
            </div>
            <div class="tab-content">
                <div class="tabPane active" id="tab_1" onmouseover="showAlter('alter')" onmouseout="hideAlter('alter')"
                    style="display:block;">
                    <div class="tab-basics">
                        <div class="tab-basic">
                            <i class="fa fa-check-circle-o"></i>
                            <span>{{buginfo.bugdetail}}</span>
                        </div>
                    </div>
                </div>
                <div class="tabPane" id="tab_2" style="display:none;">
                    <div class="historys">
                        <p>所属信息:{{oldurlinfo.url}}</p>
                        <p>标题:{{oldurlinfo.title}}</p>
                        <p>状态码:{{oldurlinfo.status}}</p>
                        <p>收录时间:{{oldurlinfo.date}}</p>
                        <p>指纹信息:{{oldurlinfo.Server}}</p>
                        <p>端口信息:{{oldurlinfo.portserver}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}