{% extends 'base.html' %}
{%block title%}BugList{% endblock %}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/bug-list.css')}}" /> -->
{% block css %}
<link rel="stylesheet" href="../static/css/bug-list.css" />
<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/bug-list.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script> -->
{% endblock %}
<div class="bugLists">
    {% block rightcontext %}
    {% for bug in bugs %}
    <div class="list domain">
        <div class="domain-name">
            <div class="two-p">
                <a href="{{url_for('bugdetail',id=bug.id)}}">
                    <i class="fa fa-link"></i>
                    <p class="pgr">{{bug.bugurl}}</p>
                </a>
            </div>
            <!-- <div class="three-p">
                <i class="fa fa-clock-o"></i>
                <p>所属: {{bug.oldurl}}</p>
            </div> -->
            <p>所属: {{bug.oldurl}}</p>
            <p>漏洞: {{bug.bugname}}</p>
            <p>漏洞等级: {{bug.buggrade}}</p>
        </div>
        <div class="tab-pane">{{bug.bugdetail}}<br /></div>

    </div>
    {% endfor %}
    <!-- <table frame=void class="page-number" style="position: absolute;top:1550px;left:190px;background-color: #f8f8ff;">
        <tr>
            <td class="td" style="margin-right:10px;white-space: nowrap;position: relative;left:-170px;color: #4b4a4a;">
                当前页数:
                {{paginate.page}}</td>
            <td class="td" style="margin-right:20px;position: relative;left:-130px;color: #4b4a4a;">总页数:
                {{paginate.pages}}</td>
            <td class="td" style="position: relative;left:-80px;color: #4b4a4a;">共有 {{paginate.total}} 条数据</td>
            <td class="td" style="position: relative;left:90px;color: #4b4a4a;">
                页码：
                {% for i in paginate.iter_pages() %}
                <a href="{{url_for('buglist',page=i)}}"
                    style="border:#d3d3d3 solid 1px;padding:2px 5px;border-radius:2px;">{{ i }}</a>
                {% endfor %}</td>
            {% if paginate.has_prev %}
            <td class="td" style="margin-right:20px;">
                <a href="{{url_for('buglist',page=paginate.prev_num)}}"
                    style="border:#d3d3d3 solid 1px;padding:2px 5px;border-radius: 4px;position: relative;left:110px;">上一页</a>
                {% endif %}</td>
            <td class="td" style="margin-right:20px;">
                {% if paginate.has_next %}
                <a href="{{url_for('buglist',page=paginate.next_num)}}"
                    style="border:#d3d3d3 solid 1px;padding:2px 5px;border-radius: 4px;position: relative;left:110px;">下一页</a>
                {% endif %}</td>
        </tr>
    </table> -->
    <div class="pageNumber">
        <ul>
            <li class="pageLi">
                {% if paginate.has_prev %}
                <button class="pageBtn" style="width:100px" id="prePage">上一页</button>
                {% endif %}
            </li>
            <li class="pageLi">
                <button class="pageBtn" id="btn1">1</button>
            </li>
            <li class="pageLi">
                <span class="pages_span" id="prePoint">...</span>
            </li>
            <li class="pageLi">
                <button class="pageBtn" id="btn2">7</button>
            </li>
            <li class="pageLi">
                <button class="pageBtn" id="btn3">8</button>
            </li>
            <li class="page_li">
                <button class="pageBtn" id="btn4">9</button>
            </li>
            <li class="pageLi">
                <button class="pageBtn" id="btn5">10</button>
            </li>
            <li class="pageLi">
                <button class="pageBtn" id="btn6">11</button>
            </li>
            <li class="pageLi">
                <span class="pages_span" id="sufPoint">...</span>
            </li>
            <li class="pageLi">
                <button class="pageBtn" id="btn7">20</button>
            </li>
            <li class="pageLi">
                {% if paginate.has_next %}
                <button class="pageBtn" style="width:100px" id="sufPage">下一页</button>
                {% endif %}
            </li>
        </ul>
    </div>
</div>{% endblock %}