{% extends 'base.html' %}
{%block title%}BugList{% endblock %}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/bug-list.css')}}" /> -->
{% block css %}
<link rel="stylesheet" href="../static/css/homeOne.css" />
<link rel="stylesheet" href="../static/css/bug-list.css" />
<link rel="stylesheet" href="../static/css/font-awesome.min.css" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/home.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script> -->
{% endblock %}
<!-- <div class="bugLists"> -->
{% block rightcontext %}
<div class="contentwrapper">
    {% for bug in bugs %}
    <div class="list domain newest">
        <div class="domain-name">
            <div class="two-p">
                <a href="{{url_for('bugdetail',id=bug.id)}}">
                    <i class="fa fa-link"></i>
                    <p class="pgr">{{bug.bugurl}}</p>
                </a>
            </div>
            <!-- <div class="three-p">
                <i class="fa fa-clock-o"></i>
                <p>所属: {{bug.oldurl}}</p>
            </div> -->
            <p>所属: {{bug.oldurl}}</p>
            <p>漏洞: {{bug.bugname}}</p>
            <p>漏洞等级: {{bug.buggrade}}</p>
        </div>
        <div class="tab-pane">{{bug.bugdetail}}<br /></div>
        <!-- </div> -->
    </div>
    {% endfor %}


    <div class="pageNumber">
        <ul>
            <li class="pageLi">
                {% if paginate.has_prev %}
                <a href="{{url_for('buglist',page=paginate.prev_num)}}"><button class="pageBtn" style="width:38px"
                        id="prePage">&lt</button></a>
                {% endif %}
            </li>

            <div class="Num" style="width:50px;height:50px;overflow:hidden;float:left;">
                <li class="pageLi">
                    <a href="{{url_for('buglist',page=paginate.page)}}"><button class="pageBtn"
                            id="{{ paginate.page }}">{{paginate.page}}</button></a>
                </li>
            </div>
            <li class="pageLi">
                {% if paginate.has_next %}
                <a href="{{url_for('buglist',page=paginate.next_num)}}"><button class="pageBtn" style="width:38px"
                        id="sufPage">&gt</button></a>
                {% endif %}
            </li>
            <li class="pageLi" style="font-size:14px;color:#2e2e2e;position: relative;top:4px;margin-right: 6px;">
                总页数:{{paginate.pages}}
            </li>

      <li class="pageLi" style="font-size:14px;color:#2e2e2e;">
        <form id="pageForm" method="post" >跳至&nbsp<input type="text" name="page" class="pageBtn"
            style="border-radius:4px;border:1px solid #d3d3d3;">页
            <button class="pageBtn" id="pageGo">GO</button>
        </form>
      </li>
        </ul>
    </div>

</div>{% endblock %}