{% extends 'base.html' %}
{%block title%}consolePage{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/console.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="content-wrapper">
    <div class="features">
        <div class="feature one">
            <i class="fa fa-tags"></i>
            <h3 class="right-title">域名</h3>
            <p class="right-content">总数:</p>
        </div>

        <div class="feature one">
            <i class="fa fa-magnet"></i>
            <h3 class="right-title">IP</h3>
            <p class="right-content">总数:</p>
        </div>
        <div class="feature one">
            <i class="fa fa-bug"></i>
            <h3 class=" right-title">漏洞</h3>
            <p class="right-content">总数：</p>
        </div>
        <div class="feature one">
            <i class="fa fa-clipboard"></i>
            <h3 class="right-title">POC</h3>
            <p class="right-content">总数：</p>
        </div>
    </div>
    <div class="contents">
        <div class="content">
            <i class="fa fa-bar-chart"></i>
            <h3>本周扫描数</h3>
            <h5>111</h5>
        </div>
        <div class="content">
            <i class="fa fa-desktop"></i>
            <h3>受影响主机</h3>
            <h5>111</h5>
        </div>
        <div class="content">
            <i class="fa fa-exclamation-circle" style="font-size: 38px;"></i>
            <h3>严重漏洞</h3>
            <h5>111</h5>
        </div>
        <div class="content">
            <i class="fa fa-github" style="font-size: 38px;"></i>
            <h3>泄露总数</h3>
            <h5>111</h5>
        </div>

    </div>
</div>
<div class="content-mid">
    <div class="content-mid-left">
        <form method="POST" action="" id="task" name="myTask">
            <textarea name="urls" rows="10" cols="30" placeholder="请输入新建任务:"></textarea>
            <button class="newtask" type="submit">新建任务</button>
        </form>
    </div>

    <div class="content-mid-right">
        <p class="p1">待扫描:10</p>
        <p class="p2">正扫描:10</p>
        <p class="p3">已扫描:10</p>
    </div>
</div>
<div class="charts">
    <div class="bar-graph">
        <h5 class="bar-title">开放端口</h5>
        <canvas id="myChart" width="850" height="400"></canvas>
    </div>
    <div class="curve-graph">
        <h5 class="bar-title">任务报告
        </h5>
        <canvas id="myCurveChart" width="850" height="400"></canvas>
    </div>
</div>
{% endblock %}
{% block addjs %}
<script>

    //漏洞类型部分
    $('.skill-per').each(function () {
        var $this = $(this);
        var per = $this.attr('per');
        $this.css("width", per);
        $({ animatedValue: 0 }).animate(
            { animatedValue: per },
            {
                duartion: 300,
                step: function () {
                    $this.attr('per', Math.floor(this.animatedValue));
                },
                complete: function () {
                    $this.attr('per', Math.floor(this.animatedValue));
                },
            }
        );
    });

    //饼状图部分
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};

    app.title = "百分比";

    var option = {
        tooltip: {
            trigger: "item",
            formatter: "{a} <br/>{b}: {c} ({d}%)",
        },
        color: ["#90ee90", "#7342fa", "#fdb903", "#e9003a",],
        legend: {
            orient: "horizontal",
            x: "center",
            data: ["低危", "中危", "高危", "严重"],
        },
        series: [
            {
                name: "漏洞属性",
                type: "pie",
                radius: ["35%", "75%"],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: "center",
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: "20",
                            fontWeight: "bold",
                        },
                    },
                },
                labelLine: {
                    normal: {
                        show: false,
                    },
                },
                data: [
                    {
                        value: 135,
                        name: "低危",
                    },
                    {
                        value: 170,
                        name: "中危",
                    },
                    {
                        value: 234,
                        name: "高危",
                    },
                    {
                        value: 265,
                        name: "严重",
                    },
                ],
            },
        ],
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    // 柱状图部分
    var ctx = document.getElementById("myChart").getContext("2d");
    var data = {
        /// 表现在X轴上的数据，数组形式
        labels: ["http", "ssh", "mysql", "http-proxy", "mongod", "ftp", "wap-wsp", "http-alt", "ms-wbt-server", "https", "redis"],
        /// 第一条线
        datasets: [
            {
                /// 曲线的填充颜色
                fillColor: " rgb(86, 86, 240)",
                /// 填充块的边框线的颜色
                strokeColor: " rgb(22, 122, 253);",
                /// 表示数据的圆圈的颜色
                pointColor: " rgb(86, 86, 240)",
                /// 表示数据的圆圈的边的颜色
                pointStrokeColor: "#fff",
                data: [95.5, 59.2, 43, 41, 36, 25, 20, 19, 17, 11, 3]
            },
            /// 第二条线
            {

                /// 曲线的填充颜色
                fillColor: "#d3d3d3",
                /// 填充块的边框线的颜色
                strokeColor: "rgba(220,220,220,1)",
                /// 表示数据的圆圈的颜色
                pointColor: "rgba(220,220,220,1)",
                /// 表示数据的圆圈的边的颜色
                pointStrokeColor: "#fff",
                data: [27, 48, 40, 19, 36, 27, 10, 8, 5, 3, 2]

            }
        ]
    }
    /// 动画效果call
    var options = {
        scaleFontStyle: "normal"
    }
    //生成柱状图
    new Chart(ctx).Bar(data);


    // 折线图部分
    var ctx = document.getElementById("myCurveChart").getContext("2d");
    var data = {
        /// 表现在X轴上的数据，数组形式
        labels: ["http", "ssh", "mysql", "http-proxy", "mongod", "ftp", "wap-wsp", "http-alt", "ms-wbt-server", "https", "redis"],
        /// 第一条线
        datasets: [
            {
                /// 曲线的填充颜色
                fillColor: " #f8f8ff",
                /// 填充块的边框线的颜色
                strokeColor: " rgb(86, 86, 240)",
                /// 表示数据的圆圈的颜色
                pointColor: " rgb(86, 86, 240)",
                /// 表示数据的圆圈的边的颜色
                pointStrokeColor: "#fff",
                data: [65.5, 59.2, 90, 81, 56, 55, 40, 38, 33, 29, 14]
            },
            /// 第二条线
            {
                /// 曲线的填充颜色
                fillColor: "#e3e3e3",
                /// 填充块的边框线的颜色
                strokeColor: "rgba(220,220,220,1)",
                /// 表示数据的圆圈的颜色
                pointColor: "rgba(220,220,220,1)",
                /// 表示数据的圆圈的边的颜色
                pointStrokeColor: "#fff",
                data: [27, 48, 40, 19, 96, 27, 10, 8, 5, 3, 2]

            }
        ]
    }
    /// 动画效果call
    var options = {
        scaleFontStyle: "normal"
    }
    /// 创建对象，生成折线图表
    new Chart(ctx).Line(data, options);
</script>
{% endblock %}