{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/domain-detail.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/js/bug-details.js"></script>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="content">
    <div class="content-titles">
        <h2>域名详情</h2>
        <div class="domain-details">
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>所属:</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>巴拉巴拉:</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>巴拉巴拉:</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>最后记录时间:2020-05-10 10:01:51</span>
            </div>

        </div>
        <div class="response">
            <!-- <i class="fa fa-check-circle-o"></i> -->
            <span style="font-size:26px;">响应头</span>
        </div>
    </div>
    <div class="container-list">
        <div class="tab-custom">
            <div class="tab">
                <button class="tablinks active" onclick="openList(event, 'tab_1')">
                    <p style="font-size: 20px;">端口信息</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_2')">
                    <p style="font-size: 20px;">敏感目录</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_3')">
                    <p style="font-size: 20px;">whatever</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_4')">
                    <p style="font-size: 20px;">whatever</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_5')">
                    <p style="font-size: 20px;">whatever</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_6')">
                    <p style="font-size: 20px;">C段信息</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_7')">
                    <p style="font-size: 20px;">Bug</p>
                </button>
            </div>
            <hr>
            <div class="tab-content">
                <div class="tabPane active" id="tab_1" onmouseover="showAlter('alter')" onmouseout="hideAlter('alter')"
                    style="display:block;">
                    <!-- <div class="tab-basics"> -->
                    <div class="tab-basic" style="margin-bottom: 10px;
                    width: 500px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span style="width:95%;white-space: pre-wrap;">hhh</span>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="tabPane" id="tab_2" style="display:none;">
                    <div class="historys">
                        <p>所属信息:xxx</p>
                        <p>标题:xxx</p>
                        <p>状态码:xxx</p>
                        <p>收录时间:xxx</p>
                        <p>指纹信息:xxx</p>
                        <p>端口信息:xxx</p>
                    </div>
                </div>
                <div class="tabPane" id="tab_3"></div>
                <div class="tabPane" id="tab_4"></div>
                <div class="tabPane" id="tab_5"></div>
                <div class="tabPane" id="tab_6"></div>
                <div class="tabPane" id="tab_7"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}