{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/domain-detail.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/js/bug-details.js"></script>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="content">
    <div class="content-titles">
        {% if baseinfo.boolcheck %}
        <h2>IP详情</h2>
        {% else %}
        <h2>域名详情</h2>
        {% endif %}
        <div class="domain-details">
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>{{baseinfo.url}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>标题: {{baseinfo.title}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>状态码: {{baseinfo.status}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>技术: {{baseinfo.Server}}</span>
            </div>
            {% if baseinfo.boolcheck %}
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>地址: {{deepinfo.ipaddr}}</span>
            </div>
            {% else %}
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>地址: {{deepinfo.domainaddr}}</span>
            </div>
            {% endif %}
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>记录时间: {{baseinfo.date}}</span>
            </div>

        </div>
        <div class="response">
            <!-- <i class="fa fa-check-circle-o"></i> -->
            <span style="font-size:16px;">{{baseinfo.responseheader}}</span>
        </div>
    </div>
    <div class="container-list">
        <div class="tab-custom">
            <div class="tab">
                <button class="tablinks active" onclick="openList(event, 'tab_1')">
                    <p style="font-size: 20px;">端口信息</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_2')">
                    <p style="font-size: 20px;">敏感目录</p>
                </button>
                {% if baseinfo.boolcheck %}
                <button class="tablinks" onclick="openList(event, 'tab_3')">
                    <p style="font-size: 20px;">C段信息</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_4')">
                    <p style="font-size: 20px;">旁站/解析记录</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_5')">
                    <p style="font-size: 20px;">Bug</p>
                </button>
                {% else %}
                <button class="tablinks" onclick="openList(event, 'tab_3')">
                    <p style="font-size: 20px;">子域名</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_4')">
                    <p style="font-size: 20px;">注册信息</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_5')">
                    <p style="font-size: 20px;">旁站/解析记录</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_6')">
                    <p style="font-size: 20px;">Bug</p>
                </button>
                {% endif %}
                <!--                <button class="tablinks" onclick="openList(event, 'tab_7')">-->
                <!--                    <p style="font-size: 20px;">Bug</p>-->
                <!--                </button>-->
            </div>
            <hr>
            <div class="tab-content">
                <div class="tabPane active" id="tab_1" onmouseover="showAlter('alter')" onmouseout="hideAlter('alter')"
                    style="display:block;">
                    <div class="tab-basics">
                        <div class="tab-basic" style="margin-bottom: 10px;
                    width: 500px;">
                            <span style="width:95%;white-space: pre-wrap;">{{baseinfo.portserver}}</span>
                        </div>
                    </div>
                </div>
                <div class="tabPane" id="tab_2" style="display:none;">
                    <div class="historys">
                        <p>{{baseinfo.sendir}}</p>
                    </div>
                </div>
                {% if baseinfo.boolcheck %}
                <div class="tabPane" id="tab_3" style="display:none;">
                    <div class="historys">
                        <p>{{deepinfo.CMessage}}</p>
                    </div>
                </div>
                <div class="tabPane" id="tab_4" style="display:none;">
                    <div class="historys">
                        <p>{{deepinfo.whois}}</p>
                        <p>{{deepinfo.recordinfo}}</p>
                    </div>
                </div>
                <div class="tabPane" id="tab_5" style="display:none;">
                    <div class="historys">
                        {% for bug in buglist %}
                        <p>{{bug.bugurl}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="tabPane" id="tab_3" style="display:none;">
                    <div class="historys">
                        <p>{{deepinfo.subdomain}}</p>
                    </div>
                </div>
                <div class="tabPane" id="tab_4" style="display:none;">
                    <div class="historys">
                        <p>{{deepinfo.whois}}</p>
                        <p>{{deepinfo.recordinfo}}</p>
                    </div>
                </div>
                <div class="tabPane" id="tab_5" style="display:none;">
                    <div class="historys">
                        <p>{{deepinfo.sitestation}}</p>
                        <p>{{deepinfo.bindingip}}</p>
                    </div>
                </div>
                <div class="tabPane" id="tab_6" style="display:none;">
                    <div class="historys">
                        {% for bug in buglist %}
                        <p>{{bug.bugurl}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="tabPane" id="tab_7" style="display:none;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}