{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/domain-detail.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/js/bug-details.js"></script>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="content">
    <div class="content-titles">
        <h2>域名详情</h2>
        <div class="domain-details">
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>{{baseinfo.url}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>标题: {{baseinfo.title}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>状态码: {{baseinfo.status}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>技术: {{baseinfo.Server}}</span>
            </div>
            <div class="domain-detail">
                <i class="fa fa-check-circle-o"></i>
                <span>记录时间: {{baseinfo.date}}</span>
            </div>
        </div>
    </div>
    <div class="container-list">
        <div class="tab-custom">
            <div class="tab">
                <button class="tablinks active" onclick="openList(event, 'tab_1')">
                    <p style="font-size: 20px;">响应头</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_2')">
                    <p style="font-size: 20px;">信息搜集</p>
                </button>
                <button class="tablinks" onclick="openList(event, 'tab_3')">
                    <p style="font-size: 20px;">信息搜集</p>
                </button>
                <hr>
            </div>
            <div class="tab-content">
                <div class="tabPane active" id="tab_1" onmouseover="showAlter('alter')" onmouseout="hideAlter('alter')"
                    style="display:block;">
                    <!-- <div class="tab-basics"> -->
                    <div class="tab-basic" style="margin-bottom: 10px;
                    width: 500px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span style="width:95%;white-space: pre-wrap;">{{baseinfo.responseheader}}</span>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="tabPane" id="tab_2" style="display:none;">
                    <div class="historys">
                        <p>敏感目录: {{baseinfo.sendir}}</p>
                        <p>端口信息: {{baseinfo.portserver}}</p>
                        <p>子域名: {{deepinfo.subdomain}}</p>
                        <p>收录时间:xxx</p>
                        <p>指纹信息:xxx</p>
                        <p>端口信息:xxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}