{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/home.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="contentwrapper">
  {% for info in infos %}
  <div class="newest">
    <div class="domain-name">
      <div class="two-p">
        <a href="{{url_for('domaindetail',id=info.id)}}">
          <i class="fa fa-link"></i>
          <p class="pgr">{{info.url}}</p>
        </a>
      </div>
      <div class="three-p">
        <i class="fa fa-clock-o"></i>
        <p>{{info.date}}</p>
      </div>
      <p>标题: {{info.title}}</p>
      <p>状态: {{info.status}}</p>
      <p>指纹: {{info.Server}}</p>
    </div>
    <div class="tab-pane">{{info.responseheader}}<br /></div>

  </div>{% endfor %}
  <div class="pageNumber">
    <ul>
      <li class="pageLi">
        {% if paginate.has_prev %}
        <a href="{{url_for('index',page=paginate.prev_num)}}"><button class="pageBtn" style="width:38px"
            id="prePage">&lt</button></a>
        {% endif %}
      </li>

      <div class="Num" style="width:50px;height:50px;overflow:hidden;float:left;">
        <li class="pageLi">
          <a href="{{url_for('index',page=paginate.page)}}"><button class="pageBtn"
              id="{{ paginate.page }}">{{paginate.page}}</button></a>
        </li>
      </div>
      <li class="pageLi">
        {% if paginate.has_next %}
        <a href="{{url_for('index',page=paginate.next_num)}}"><button class="pageBtn" style="width:38px"
            id="sufPage">&gt</button></a>
        {% endif %}
      </li>
      <li class="pageLi" style="font-size:14px;color:#2e2e2e;position: relative;top:4px;margin-right: 6px;">
        总页数:{{paginate.pages}}
      </li>

      <li class="pageLi" style="font-size:14px;color:#2e2e2e;">
        <form id="pageForm" method="post" >跳至&nbsp<input type="text" name="page" class="pageBtn"
            style="border-radius:4px;border:1px solid #d3d3d3;">页
            <button class="pageBtn" id="pageGo">GO</button>
        </form>
      </li>
    </ul>
  </div>
</div>
{% endblock %}