<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
    <!-- <link rel="stylesheet" href="../static/css/homeOne.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" /> -->
    <script src="{{url_for('static',filename='js/home.js')}}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="../static/js/home.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
</head>

<body style="overflow-x:hidden;">
    <header class="header" id="header">
        <div class="container">
            <div class="top">
                <h1>
                    <a href="#" title="Web漏洞扫描器">SZHE</a>
                </h1>
                <div class="userCenter">
                    <ul class="userCenter-list" role="tablist">
                        <li><a href="#" role="tab">个人中心</a></li>
                        <li><a href="{{url_for('logout')}}" role="tab">注销</a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <nav class="navigation" id="nav">
                <ul class="navList" id="myTab" role="tabList">
                    <li><a href="#" role="tab" class="one">主页</a></li>
                    <li><a href="#" role="tab">控制台</a></li>
                    <li><a href="#" role="tab" class="three">漏洞列表</a></li>
                    <li><a href="#" role="tab">扫描队列</a></li>
                    <li><a href="#" role="tab">信息搜集</a></li>
                    <li><a href="#" role="tab">日志</a></li>
                    <li><a href="#" role="tab">设置</a></li>
                    <li><a href="{{url_for('about')}}" role="tab">关于</a></li>
                    <div class="slider"></div>
                </ul>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="  search..." />
                    <a class="search-btn" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </nav>
            <div class="burger">
                <div class="burger-line1"></div>
                <div class="burger-line2"></div>
                <div class="burger-line3"></div>
            </div>
        </div>
    </header>
    <div class="context">
        <div class="left-context" style="display:block;">
            <div class="statistic">
                <h5 style="left:165px;position:absolute;">漏洞等级分布图</h5>
                <div id="container" style="height: 250px;width:90%;top:20px;"></div>
            </div>
            <div class="skills" style="display:block;">
                <h2>漏洞类型统计</h2>
                <div class="skill">
                    <div class="skill-name skill-one">类型一</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="90">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型二</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="78">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型三</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="164">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型四</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="235">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型五</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="90">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型六</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="61">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型七</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="39">
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">类型七</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="21">
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">类型八</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="58">
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">类型九</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="73">
                        </div>
                    </div>
                </div>
                <div class="skill ten">
                    <div class="skill-name">类型十</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="84">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-context">
            <div class="search-mid">
                <input class="search-text" type="text" name="" placeholder=" 添加需要扫描的域名" />
                <button class="search-mid-btn" style="position: relative;
                left: 30px;
                z-index: 1110;
                width: 60px;
                height:35px; border: #d3d3d3 solid 1px;
  border-radius: 4px;
  cursor:pointer;
">添加</button>
            </div>
            <div class="newest first">漏洞一</div>
            <div class="newest">漏洞二</div>
            <div class="newest">漏洞三</div>
            <div class="newest">漏洞四</div>
            <div class="newest">漏洞五</div>
            <div class="newest">漏洞六</div>
            <div class="newest">漏洞七</div>
            <div class="newest">漏洞八</div>
            <div class="newest">漏洞九</div>
            <div class="newest last">漏洞十</div>
        </div>
    </div>
    <div class="body-tail">
        Copyright @ SZHE Vulnerability Scanner
    </div>
    <script type="text/javascript">
        $('.skill-per').each(function () {
            var $this = $(this);
            var per = $this.attr('per');
            $this.css("width", per);
            $({ animatedValue: 0 }).animate(
                { animatedValue: per },
                {
                    duartion: 300,
                    step: function () {
                        $this.attr('per', Math.floor(this.animatedValue));
                    },
                    complete: function () {
                        $this.attr('per', Math.floor(this.animatedValue));
                    },
                }
            );
        });

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};

        app.title = "百分比";

        var option = {
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b}: {c} ({d}%)",
            },
            color: ["#90ee90", "#7342fa", "#fdb903", "#e9003a",],
            legend: {
                orient: "horizontal",
                x: "center",
                data: ["低危", "中危", "高危", "严重"],
            },
            series: [
                {
                    name: "漏洞属性",
                    type: "pie",
                    radius: ["30%", "70%"],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: "center",
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: "20",
                                fontWeight: "bold",
                            },
                        },
                    },
                    labelLine: {
                        normal: {
                            show: false,
                        },
                    },
                    data: [
                        {
                            value: 135,
                            name: "低危",
                        },
                        {
                            value: 170,
                            name: "中危",
                        },
                        {
                            value: 234,
                            name: "高危",
                        },
                        {
                            value: 265,
                            name: "严重",
                        },
                    ],
                },
            ],
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
</body>

</html>