{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/homeOne.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/Recently.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
{% endblock %}
{% block js %}
<script type="text/javascript" src="../static/js/bug-details.js"></script>
<script src="{{url_for('static',filename='js/home.js')}}"></script>
<script type="text/javascript" src="../static/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/libs/echarts.min.js"></script>
{% endblock %}
{% block rightcontext %}
<div class="content">

</div>
{% endblock %}