<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>新用户注册</title>
  <!-- <link rel="stylesheet" href="../static/css/login2.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" /> -->
    <!-- <link rel="stylesheet" href="../static/css/sign_up.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/sign_up.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
  <script type="text/javascript" src="../static/js/sign_up.js"></script>
  <style>
    input::placeholder {
      color: #fff !important;
      font-weight: 500;
      opacity: 1;
    }
  </style>
</head>

<body>
  <div class="context">
    <div class="logo">
      <h1>
        <a href="#" title="Web漏洞扫描器"
          style="position:absolute;top:40px;font-size:65px;color:#3e3e3e;left:50px;font-family:Arial, Helvetica, sans-serif;">SZHE</a>
      </h1>
      <div class="container">
        <h4 class="title">
          Sign up
        </h4>
        <div class="login-form">
          <form action="" method="POST" id="form" name="myform" onsubmit="return checkform();">
            <div class="input-num restyle">
              <input type="text" placeholder="昵 称" name="username" id="username" style="color:#fff;" />
              <i class="fa fa-user"></i>
            </div>
            <div class="input-num passw">
              <input type="email" placeholder="邮 箱" name="email" />
              <i class="fa fa-envelope"></i>
            </div>
            <div class="input-num input-prepend setting paw">
              <input placeholder="设置密码" type="password" name="password1" id="user_password1" />
              <i class="fa fa-eye" id="eye1" onclick="showhide()"></i>
            </div>
            <div class=" input-num input-prepend paw">
              <input placeholder="确认密码" type="password" name="password2" id="user_password2" />
              <i class="fa fa-eye" id="eye2" onclick="showhide1()"></i>
            </div>
            <div class=" input-num input-prepend">
              <input placeholder="邀请码" type="text" name="invitationcode" id="invitation-code" />
              <i class="fa fa-commenting-o"></i>
            </div>
            <p class="sign-up-msg">
              点击 “注册” 即表示您同意并愿意遵守Web漏洞扫描器<br />
              <a target="_blank" href="#">用户协议</a> 和
              <a target="_blank" href="#">隐私政策</a> 。
            </p>
            <button class="sign-up-button" type="submit" style="position: absolute;
            left: 0px;
            margin-top: 15px;
            width: 110%;
            padding: 9px 18px;
            font-size: 18px;
            border: none;
            border-radius: 25px;
            color: #fff;
            background-color:  #21a0f0;
            outline: none;
            display: block;
            clear: both;
            cursor: pointer;">
              <span id="sign-in-loading"></span>
              注 册
            </button>
          </form>
        </div>
        <div class="error" style="
            position: relative;
            top: 45px;
            left: -50px;
            width: 400px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            overflow: hidden;
            color: #b22222;
            /* background-color: #ffe4e1;
            list-style-type: none;
            list-style-type: none;
            border: 1px #f08080 solid;
            border-radius: 8px;
            */
          ">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
      </div>
    </div>
</body>

</html>