<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>用户登录</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/sign_in.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
  <!-- <script src="{{url_for('static',filename='js/login.js')}}"></script> -->
  <script type="text/javascript" src="../static/js/login.js"></script>
  <style>
    input::placeholder {
      color: #fff !important;
      font-weight: 500;
      opacity: 1;
    }
  </style>
</head>

<body>
  <div class="context">
    <div class="logo">
      <h1>
        <a href="#" title="Web漏洞扫描器"
          style="position:absolute;top:40px;font-size:65px;color:white;left:50px;font-family:Arial, Helvetica, sans-serif;">SZHE</a>
      </h1>
    </div>
    <div class="container">
      <h2 class="title">
        Welcome
      </h2>
      <div class="login-form">
        <form action="" method="POST" id="form" name="myform" onsubmit="checkform();">
          <div class="input-num restyle">
            <input placeholder-style="color:red !important" type="text" placeholder="邮 箱" name="email" id="inp" />
            <i class="fa fa-user"></i>
          </div>
          <div class="input-num passw">
            <input type="password" id="pwd" name="password" placeholder="密 码" />
            <i class="fa fa-eye" onclick="showhide()" id="eye"></i>
          </div>
          <div class="remember-btn">
            <input type="checkbox" value="true" checked="checked" name="remeber"
              id="session_remember_me inp" /><span>记住我</span>
          </div>
          <div class="forget-btn">
            <span>还没有账户？点击</span><a class="" data-toggle="dropdown" href="{{url_for('regist')}}">注册</a>
          </div>
          <button class="sign-in-button" style="margin-top: 40px;">
            <span id="sign-in-loading"></span>
            登录
          </button>
        </form>
      </div>
      <div class="error" style="
            position: relative;
            top: 70px;
            left: -50px;
            width: 400px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            overflow: hidden;
            color: #b22222;
            /* background-color: #ffe4e1;
            list-style-type: none;
            list-style-type: none;
            border: 1px #f08080 solid;
            border-radius: 8px;
            */
          ">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var eye = document.getElementById("eye");
    var pwd = document.getElementById("pwd");

    function showhide() {

      if (pwd.type == "password") {
        pwd.type = "text";
        eye.className = 'fa fa-eye-slash'
      } else {
        pwd.type = "password";
        eye.className = 'fa fa-eye'
      }
    }
  </script>
</body>

</html>