<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/user-center.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />

    <!-- <link rel="stylesheet" href="../static/css/user-center.css" /> -->
    <title>Document</title>
    <script type="text/javascript" src="../static/js/user-center.js"></script>
</head>

<body style="overflow-x:hidden;">
    <header class="header" id="header">
        <div class="container">
            <div class="top">
                <h1>
                    <a href="#" title="Web漏洞扫描器">SZHE</a>
                </h1>
                <div class="userCenter">
                    <ul class="userCenter-list" role="tablist">
                        <li><a href="#" role="tab">个人中心</a></li>
                        <li><a href="{{url_for('logout')}}" role="tab">注销</a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <nav class="navigation" id="nav">
                <ul class="navList" id="myTab" role="tabList">
                    <li><a href="{{url_for('index')}}" role="tab" class="one">主页</a></li>
                    <li><a href="#" role="tab">控制台</a></li>
                    <li><a href="#" role="tab">漏洞列表</a></li>
                    <li><a href="#" role="tab">扫描队列</a></li>
                    <li><a href="#" role="tab">信息搜集</a></li>
                    <li><a href="{{url_for('log_detail')}}" role="tab">日志</a></li>
                    <li><a href="#" role="tab">设置</a></li>
                    <li><a href="{{url_for('about')}}" role="tab">关于</a></li>
                    <div class="slider"></div>
                </ul>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="  search..." />
                    <a class="search-btn" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </nav>
            <div class="burger">
                <div class="burger-line1"></div>
                <div class="burger-line2"></div>
                <div class="burger-line3"></div>
            </div>
        </div>
    </header>
    <div class="context">
        <div class="title">
            <hr style=" width:43%;float:left;" />
            <h2>个人中心</h2>
            <hr style=" width:47%; float:left;text-align: right;" />
        </div>
        <div class="user-self">
            <div class="user-left">
                <img src="../static/images/dn.jpg">
                <button>修改头像</button>
            </div>
            <div class="user-right">
                <h2>水兵月</h2>
                <ul class="user-list">
                    <li class="detail"><i class="fa fa-mars" style="color:#ff0080;"></i></li>
                    <li class="detail">2000-0-0</li>
                    <li class="detail">QQ:1868686668</li>
                    <li class="detail">邮箱:88688868@qq.com</li>
                    <li class="detail">个人网站:www.zhenkaixin.com</li>
                </ul>
                <p>个人简介:个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介</p>
            </div>
        </div>
        <div class="user-bottom">
            <div class="container-list">
                <div class="tab-custom">
                    <div class="tab">
                        <button class="tablinks active" onclick="openList(event, 'tab_1')">
                            <p style="font-size: 18px;">个人资料</p>
                        </button>
                        <button class="tablinks" onclick="openList(event, 'tab_2')">
                            <p style="font-size: 18px;">收藏列表</p>
                        </button>
                        <button class="tablinks" onclick="openList(event, 'tab_3')">
                            <p style="font-size: 18px;">关注列表</p>
                        </button>

                    </div>
                    <div class="tab-content">
                        <div class="tabPane active" id="tab_1" onmouseover="showAlter('alter')"
                            onmouseout="hideAlter('alter')" style="display:block;">
                            <form class="myDate">
                                <ol>
                                    <li>
                                        <label>UserName</label>
                                        <input type="text" name="username" placeholder="username" id="username">
                                    </li>
                                    <li>
                                        <label>PassWord</label>
                                        <input type="text" name="username" placeholder="username" id="username">
                                    </li>
                                    <li>
                                        <label>New Password</label>
                                        <input type="text" name="username" placeholder="username" id="username">
                                    </li>
                                    <li>
                                        <label>Confirm Password</label>
                                        <input type="text" name="username" placeholder="username" id="username">
                                    </li>
                                </ol>
                                <input class="sub" type="submit" name="submit" value="Submit">
                            </form>
                        </div>
                        <div class="tabPane" id="tab_2" style="display:none;">
                            <ul class="collect-list">
                                <li class="one">收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                                <li>收藏列表一</li>
                            </ul>
                        </div>
                        <div class="tabPane" id="tab_3" style="display:none;">
                            <ul class="collect-list">
                                <li class="one">关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                                <li>关注列表一</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="whatever">whatever</div>
        </div>
    </div>
    {%block main%}{% endblock %}
    <div class="body-tail">
        Copyright @ SZHE Vulnerability Scanner
    </div>



</body>

</html>