<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
    <link href="{{url_for('static',filename='css/vendors.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/demo.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login_regist.css')}}">
</head>
    <body>
        <div class="overlay" style="visibility: hidden; opacity: 0;"></div>
        <script type="text/javascript" src="{{url_for('static',filename='js/vendors.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/demo.js')}}"></script>
        <canvas width="2688" height="1464" style="position: absolute; top: 0px; left: 0px; z-index: -1; width: 1680px; height: 915px;"></canvas>
        <canvas width="1920" height="947" style="position: absolute; top: 0px; left: 0px; z-index: -1; width: 1920px; height: 947px;"></canvas>
    </body>
    <div class="main">
        <h3 class="page-tiitle">登录</h3>
        <div class="form-container">
            <form action="" method="POST">
                <div class="form-container">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="邮箱" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密码" name="password">
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="remeber"> 记住我
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</html>